In [42]:
x='0xA2G' #it has 0-9 A-F ------- base=16 for hex
xx='0o027'  #it has 0-7 -------- base=8 for octa
xxx='0b10110' #it has 0-1 ------ base=2 for binary

#if base does not match with formate string it give value error

In [43]:
int(xxx,base=2) #convert any type formate oct,hex,binary into decimal but it has to be in quoted from means string
#here i converted hex format straight into decimal

22

In [61]:
binary=input('=>')

=>10110

#https://www.python.org/dev/peps/pep-0498/

In [109]:
import math
decimal=int()
for bite,zero_one in enumerate(list(binary[-1::-1])):
    decimal+=int(zero_one)*math.pow(2,bite)
print('{:*^6.0f}This is from for loop'.format(decimal))
print('%-5.2dThis is from int() function'%(int(binary,base=2)))

**22**This is from for loop
22   This is from int() function

In [115]:
ord('ب')

1576

In [122]:
chr(int('fdfd',base=16))

'﷽'

In [125]:
chr(int('265e',base=16)),int('265e',base=16)

('♞', 9822)

In [130]:
chr(int('0061',base=16))

'a'

In [260]:
bin(2),hex(2),oct(2)  #put directly decimal to convert to any

('0b10', '0x2', '0o2')

In [263]:
hex(0b10),oct(0b10) #put directly any to conver into any

('0x2', '0o2')

In [265]:
hex(0o2) #put oct code get hex directly

'0x2'

now we have 
bin(x)
int(x,base=)
oct(x)
hex(x)
x can be any format either binary,integer,oct,hex

In [295]:
import math
print('%:+^,d'%(math.fmod(-10,3)))

-1

unicode are based=16 hex and 

represented as U+65FD  -->means 0x65fd

so from hexa we can get its decimal code
and then we can use that decimal code and python chr() to get that chr
because chr() ony take ascii code/decimal based code
using hex code takes up memory
instead use
UTF-8 
UTF-8 is a way of encoding Unicode so that an ASCII text file encodes to itself.

1.If the code point is < 128, it’s represented by the corresponding byte value.

2.If the code point is >= 128, it’s turned into a sequence of two, three, or four bytes, where each byte of the sequence is between 128 and 255.

In [141]:
.0012 == 1.2e-3 == 1.2 *(10)**(-3)

True

In [144]:
+2e3 #e when ever use it give flost value

2000.0

In [257]:
print('%-12.1d' %(200))

200

In [255]:
print('{:-<+12,d}'.format(200000))

+200,000----

In [312]:
print('{:-< 12,.2f}'.format(200000))

 200,000.00-

In [313]:
print('{:1<+7,.2f}'.format(23.34))

+23.341

In [360]:
print('% -7s' %('taimoor'))
# in this % 
# %0 filling or %  one space filling comes with % only
#-+  -sign to shift left +sign to start witg +sign and 7 spaces
#7,  7 for total space blocks and each third with ,
#.2f  .2 means two decimal points and f mean it is float type

#-----
#in string type s
#, does not make logic to come with total spaces 
#.2s means strip string to only two places 
#so it over write total spaces and filling
#and overwrite sign

#so patter is 
"""
%filling 
direction sign_start
total_space ,
precision type f/s

link filling direction sign space , precison type
 :     *       </>/=         +    20  ,    .2     f
    :*               <+/>+/=         20,       .2f
                  
                  :* <+ 12, .2f
                  :# >+ 12, .2f
                  :* =  12. .2f  (fill wit)
            fill  direction+ space, precisonf
                     we can replace < or > with = to place negative sign 
            
 
 %     0/      -       +    17   ,   .2     f
                  %0 -+ 12, .2f
            fill  direction+ space, precisonf

""";

taimoor

In [363]:
print('{:*<12.2s}'.format('taimoor')) #but filling happen in format

ta**********

In [411]:
a={'b':12343,'c':-4655}
print('{b:<5,d} or {c:*=20,.2f}'.format(**a))

12,343 or -***********4,655.00

*< shift to left and fill with * any blank space
+  but add + in start
10 space total 
,  add , 
.0f no of decimal points to show and its floating type
:-      fill if input end filling comes with : always
<+      means shift the value to left and start with + sign we can put space
12,     give 12 space blocks and each third will have ,
.2f      means show two decimal points for f


-


 %[flags][width][.precision]type  for % 
https://pyformat.info/#number_sign

how to remember
if us see {:d} in between : d u put every thing

### os

In [412]:
import os

In [415]:
os.getcwd()
os.chdir('C:\\Users\\taimo\\Desktop')

In [416]:
os.getcwd()

'C:\\Users\\taimo\\Desktop'

In [417]:
os.listdir()

['.idea',
 'blender.lnk',
 'datascience_upwork',
 'desktop.ini',
 'GitHub Desktop.lnk',
 'Microsoft Edge.lnk',
 'Piaicpython',
 'predictive maintainance',
 'py',
 'statQuest-lecture-screenshoots']

In [2]:
l1=[1,2]
l2=[3,4]
l3=l1+l2
l4=l3*3
l4

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [3]:
[1,2,3] == ['a','b','c']

False

In [5]:
import math
math.pi*3

9.42477796076938

In [16]:
from random import randint,randrange

In [15]:
randint(5,100)

410

In [33]:
for x in range(100) :
    print(randrange(5,105, 5))

85
80
35
70
55
75
20
70
40
65
5
20
70
20
40
5
70
55
80
85
15
15
15
25
40
65
25
40
10
90
55
40
65
40
75
30
5
55
20
55
35
70
90
90
70
30
100
95
25
10
100
50
95
90
70
65
35
10
25
70
65
40
10
15
60
55
25
90
90
25
100
15
85
15
90
95
65
50
60
70
5
60
90
5
100
70
5
75
100
35
50
90
65
45
95
70
40
50
65
55

In [35]:
for x in range(100):
    print(random.random())

0.9432793845026192
0.4663524788222373
0.384723205069495
0.49894164744973
0.1873768197636465
0.1445472954553212
0.5275897544688024
0.09356390091008582
0.18336984846129445
0.8258593781087976
0.348469776649611
0.411498180932107
0.883000612233781
0.478255950127636
0.15298916810511376
0.27885463960796175
0.12950304109722
0.997167598162139
0.4490630615769188
0.08120901480281417
0.35492986429631934
0.8841469889584727
0.6668580799930102
0.6280869370572478
0.01966650925353186
0.38351620232239614
0.08760009293566628
0.5119931004866083
0.08694526897409716
0.7762624977663173
0.9149576328401737
0.02113381776575174
0.963812851585259
0.506546284509452
0.9463679048243865
0.42230825342008593
0.3979284432621979
0.6817588026606047
0.25199034017690425
0.6475604883236142
0.8716443518411435
0.6537304490987617
0.24786633629250976
0.9956144250533037
0.9191428670117943
0.7560047139185478
0.34314811161545544
0.7187723355079898
0.42200689817001424
0.001945881934937499
0.40993822272156233
0.8490175009424882
0.8720134946142688
0.7335090054043927
0.3475398688033282
0.33825089720569723
0.1377739948939135
0.3616929453776213
0.1497169899526859
0.2818110033306296
0.9623813905916705
0.045755277659248916
0.6118095523200191
0.4678238788206529
0.8990974385105048
0.10081654421242026
0.05024914865480401
0.468705341667212
0.9115201877479809
0.009314115291247038
0.029789476848684937
0.14679380415774113
0.3480747383335814
0.5411174853466261
0.2807050254858836
0.44633270148805015
0.9429282240310447
0.7719447142802666
0.3178297468592146
0.7154379463868668
0.6375284605404322
0.2261176003608708
0.34638336103529055
0.4026434844580813
0.8383979575103563
0.3450665806600466
0.001401294424728361
0.8732262021588114
0.8487756883473291
0.2988615096911068
0.41158803595057514
0.511066046470197
0.6530688346323766
0.6882173260276061
0.5504022893669756
0.34608230426622
0.03646748516534304
0.38970815218304855
0.47150702201530037
0.3006606202595533

In [38]:
def n(score,bonus,name,point=1,):
    print(score,bonus,point,name)

In [43]:
2%4

2

In [44]:
3/3 == 0

False

In [45]:
3/3

1.0

In [46]:
3/3

1.0

In [101]:
birdth_date=input('dataof birth likw that march-09-2020=> ')
import datetime

dataof birth likw that march-09-2020=> may-31-2020

In [102]:
converted=datetime.datetime.strptime(birdth_date,'%B-%d-%Y')

In [103]:
converted

datetime.datetime(2020, 5, 31, 0, 0)

In [108]:
datetime.datetime.strftime(converted,'%B-%d-%Y %A %H:%M:%S ')

'May-31-2020 Sunday 00:00:00 '

In [109]:
line=input('deadline march-23-2020=>')

deadline march-23-2020=>may-31-2020

In [128]:
diff=datetime.datetime.strptime(line,'%B-%d-%Y').date()-datetime.date.today()
diff

datetime.timedelta(days=87)

In [173]:
import math 
if diff.days > 30:
    store=math.modf(diff.days/30)
    print('%-2dMonths  %-3.0fDay\'s'  %(store[1],store[0]*30 ) )
    print('{:-<2.0f}Months  {:-<3.0f}Day\'s'.format(store[1],store[0]*30))

2 Months  27 Day's
2-Months  27-Day's

In [159]:
store

(0.8999999999999999, 2.0)

In [183]:
math.sin(math.pi/2) #gives float

1.0

In [194]:
x=10+9j
x #complex

(10+9j)

In [190]:
x.conjugate() #type complex

(10-9j)

In [193]:
x.imag,x.real #both are float

(9.0, 10.0)

In [199]:
complex(real=2,imag=+10)

(2+10j)

In [204]:
divmod(2,3) #it give tuple(division,module) of two given number in divmod(x,y)
#as name say div-mod
#div is integer

(0, 2)

In [205]:
pow(2,3)

8

In [208]:
x=9
-x #make it negative

-9

https://docs.python.org/3/library/stdtypes.html   table

In [168]:
"this--> | consider left right as bites"

101 | 110

111

In [169]:
101 & 110

100

In [172]:
101 ^ 110  #only unique no duplicate repetations xor

11

In [208]:
print("""
first &   given  priority to execute
then  ^
then  |
""")

first &   given  priority to execute
then  ^
then  |

https://www.tutorialspoint.com/python/operators_precedence_example.htm<br>
()	Parentheses<br>
**	Exponent<br>
+x, -x, ~x	Unary plus, Unary minus, Bitwise NOT<br>
*, /, //, %	Multiplication, Division, Floor division, Modulus<br>
+, -	Addition, Subtraction<br>
<<, >>	Bitwise shift operators<br>
&	Bitwise AND<br>
^	Bitwise XOR<br>
|	Bitwise OR<br>
==, !=, >, >=, <, <=, is, is not, in, not in	Comparisions, Identity, Membership operators<br>
not	Logical NOT<br>
and	Logical AND<br>
or<br>

In [195]:
~0b1011 #gives integer

-12

https://python-reference.readthedocs.io/en/latest/docs/operators/bitwise_complement.html<br>

so integer 23             <br>
bitwise compliment integer can be directly found<br>
23 + 1 => 24  => -24 <br>
<br>
23-24 = -1

In [207]:
print(0b1001,',',0b1001<<2,',',0b1001>>2) #note :print convertd in to decimal
print(0b1001,',',0b100100,',',0b0010) #for right shit remoe from right

9 , 36 , 2
9 , 36 , 2

In [159]:
0b1001 or 0b1010 #appling 'decimal operator '---- 'give decimal answer'

9

In [158]:
101 or 1010

101

In [242]:
10 or 9

10

https://stackoverflow.com/questions/49658308/how-does-the-logical-and-operator-work-with-integers-in-python

In [85]:
print(0 or 'lolz' )
print('======')
#first it see left side if its false   then move to  right side and print right side
#if left is True print only left
#so left is zero means it is false  'or' make it to go to right side and just print right side
#on right side no condition once reach to right side just print it
f=0
s='lozl'
if not bool(f):
    print(s)
else:
    print(f)
    
#trick for 'or' 
#think it lika a cricket match
#if first fail ignore it and get next batsman on pitch and see it
0 or '' or 2 
#here first fail we ignore it
# then second player fail we ignore it  
#third score 2 so we see it 

#or are like football kicks if u goal we will print it 
None or 0 or 0.0 or 2   #4kicks we only print in which it scored last one

lolz
======
lozl

2

In [15]:
0 or 'lolz'
#see it only check left side 
#if
#left bool() give  true print left otherwise print right on right no need to perfrom bool()

'lolz'

In [89]:
#and
print(0 and 1) #in case of 'and' if left fasle print it ,if left true print right
print('' and 1)
print(False and 1)
print(0.0000 and 1)

print('==========')
print(1 and 2)
print(' 'and 2.2)
print(-0.0001 and 2.0002)
print(True and 'foofz')
print(True and 0.0)

print('------')
f=0.000
s=1
if not bool(f): #if 'bool(f)--> false' make it open by 'not'
    print(f)   #trick for 'and' if he fails show me its face
else:          #else go to next
    print(s)
#and is like workers in captain ship
#if one worker does not work show it 

'' and 0.0 and'work'

0

False
0.0
==========
2
2.2
2.0002
foofz
0.0
------
0.0

''

https://www.programiz.com/python-programming/precedence-associativity

In [107]:
'' or 't' and 0.0
#and executed before or ---precedencey rule  --truth come late in world

#here 'and' finds false at 0.0 when applied bool() on 't' and '0.0'
# so gave 0.0 
# '' or 0.0
# or look for truth if don't find give last one
# so when bool('') or bool(0.0)
#it end up at last without finding truth so gave 0.0

0.0

In [109]:
'' and 't' or 0.2

#and applied first then or its precedence rule
# so bool('') and bool('t') --> False and True
#so we got False
#next or turn
#False or bool(0.2) ---> False or True
#we got True 
#so result is 0.2

0.2

In [95]:
0.0 or 0.000 or 0  #or look for truth and if don't find print last one

0

In [96]:
1 and 1.1 and 222222 #and look for false if does not find print last one

222222

In [82]:
False and '' and 'p' #so

False

**True** convert to **1**<br>
**False** convert to **0**

In [105]:
True *5.5    ,False + 3, True + 1, False == 0.00000000000000000

(5.5, 3, 2, True)

In [112]:
type(True *5.5)    ,type(False + 3), type(True + 1), type(False == 0.00000000000000000)

(float, int, int, bool)

In [114]:
[]*True , [0]*(True+True) #see true as 1

([], [0, 0])

In [116]:
[[0]]*(True+True)

[[0], [0]]

In [123]:
([0])*2

[0, 0]

In [125]:
([0],)*2  #tuple elements must have , if its first one specially

([0], [0])

In [129]:
(0)*2  #brackets have no speciality until we don't use common with values

0

In [61]:
print(complex(True))  
print(int(True))
print(float(True))
print(True is 1)
print(True == 1.0)
print('======')
print(complex(False))  
print(int(False))
print(float(False))
print(False is 0)
print(False == 0.000)

#true--->1 negative sign also like -1 or -0.000000001  or [0] or [''] etc
#false-->0  or '' or 0.000 or 0j or {} or [] or set() or ()

(1+0j)
1
1.0
False
True
======
0j
0
0.0
False
True

1

In [63]:
complex(6)

(6+0j)

In [39]:
complex(6).conjugate()

(6-0j)

In [40]:
complex(6).real

6.0

In [66]:
complex(0)

0j

In [106]:
1 or 2 and 9

1

In [132]:
['k','Q','J','A']+ list(range(1,11))

['k', 'Q', 'J', 'A', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [133]:
['k','Q','J','A']-['A'] #type error

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [134]:
[1,2,3,4]-[4] #type error

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [135]:
'abc'-'c' type error

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [136]:
'abc'+'d'

'abcd'

In [137]:
#both list and string support + operator
#both list and string support * operator

In [139]:
' K G J A' *(True*4)

' K G J A K G J A K G J A K G J A'

In [142]:
#tuple also supprt * and + opertor

In [140]:
('K', 'G' ,'J' ,'A') *(True*4)

('K',
 'G',
 'J',
 'A',
 'K',
 'G',
 'J',
 'A',
 'K',
 'G',
 'J',
 'A',
 'K',
 'G',
 'J',
 'A')

In [150]:
[1,2,3]/1 #type error type error

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [152]:
{'a':1}*2 #dictionary does not support

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [222]:
{'a':1}+{'b':2} #type error

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

A TypeError occurs when an 'operation or function' is applied to an object of inappropriate type.

A ValueError occurs when a 'built-in operation or function' receives an argument that has the right type but an inappropriate value, and the situation is not described by a more precise exception such as IndexError

The IndexError is one of the more basic and common exceptions found in Python, as it is raised whenever attempting to access an index that is outside the bounds of a list .<br>

https://airbrake.io/blog/python-exception-handling/python-indexerror<br>
https://www.programiz.com/python-programming/exceptions<br>

In [157]:
complex(2,3)*2   , complex(2,3)+2   , complex(2,3)+0+2j   ,

((4+6j), (4+3j), (2+5j))

In [237]:
#list,string,+operator add another same type
#string + string
#tuple +tuple
#list+list
#---------------------------------------
#list,string,tuple ,* operator only multiply with bool or integer 
#string*2
#list*2
#tuple*2

#string*(True+True)

In [241]:
['aa']+[['2']]

['aa', ['2']]

In [263]:
id(0),id(0.0),id(0.000)

(140734758949664, 1970032932808, 1970032932808)

In [268]:
0.0 is 0.000000000

True

In [299]:
x=[1,2]
x.append([1,2])  #take only one argument and keep it as one item in list
x                #here list type preserved but t as 1element in list

[1, 2, [1, 2]]

In [300]:
x.extend( [ 1,2 ]) #take one argument are praise it
x                        #here list type not preserved
                   #but all the list element got unique index
#equal to x+[]

[1, 2, [1, 2], 1, 2]

In [301]:
x.clear() 
bool(x),x

(False, [])

In [322]:
x=[1, 2, [1, 2], 1, 2]
x.count([1,2])  #count very strong function to use in forloop

1

In [323]:
x.index([1,2]) #take direct value no need to put it in string

2

In [324]:
x.index(990) #give value error

ValueError: 990 is not in list

In [325]:
x.pop(1)  #it takes index default is -1

2

In [326]:
x

[1, [1, 2], 1, 2]

In [327]:
x.insert(-1,'taimoor') # first get index hold then but value
x         #insert word has 'in' first means index first then 'se' means string

[1, [1, 2], 1, 'taimoor', 2]

In [336]:
x.remove(1) #remove value as word remover has ==>v<=== init we can't catch it

In [337]:
x

[[1, 2], 1, 'taimoor', 2]

In [335]:
'stinrg'.find('p') # not find give -1 index give value error

-1

In [342]:
x.reverse()
x

[2, 'taimoor', 1, [1, 2]]

In [345]:
d=x.copy()

In [347]:
d == x, d is x

(True, False)

In [348]:
id(d),id(x)

(1970035965128, 1970033208584)

In [355]:
id([0])is id([0])

False

In [361]:
() is () ,[] is [], {} is {},set() is set()

(True, False, False, False)

## tuple is True because it is immutable 
## while
## list, dictionary,set all are mutable
https://stackoverflow.com/questions/42553259/why-does-is-evaluate-to-false-in-python

You created two mutable objects, then used is to see if those are the same object. That should definitely return False, or something would be broken.

You wouldn't ever want is to return true here. Imagine if you did this:

foo = []
bar = []
foo.append(42)
then you'd be very surprised if bar now contains 42. If is returned true, meaning that both [] invocations returned the exact same object, then appending to foo would be visible in the reference to bar.

For immutable objects, it makes sense to cache objects, at which point is may return true, like with empty tuples:

>>> () is ()  # are these two things the same object?
True
=======================================
tuple are fixed if u transform them u actually creating new ones and deleting previouse one think of tuple as -string -fixed 

so empty tuple is same as anyother empty tuple 

where we have list and when we assigne list or create list
its id remain same whether you append insert or pop anything form it or into it

In [363]:
x=[]
id(x)

1970033325064

In [364]:
x.append(23)
id(x)

1970033325064

In [365]:
y=[]
id(y)

1970035962696

In [376]:
xx=[]
yy=[]
id(xx) ,id(yy),id([1]) , id([1]) 
#id names when they are created in steps
#id when the created in one line the both have same id but of no use 
#as the will only execute in line  and get lost
#where those given name has different ids

(1970027271688, 1970026315656, 1970033977864, 1970033977864)

In [378]:
t=()
d=()
id(t),id(d)  
#tuple are like string and numbers immutable so there id is same
#if we try to chance them we want to recreate them
#just like we recreat when we reuse id([1]),id([1])

(1969935417416, 1969935417416)

In [379]:
#any command that looses its value if we try to change it 
#has same id given that they are created with same context

In [389]:
a=3
a/=3+4

In [390]:
3/(3+4),a

(0.42857142857142855, 0.42857142857142855)

In [418]:
x=-11
x%=-4
x                     #when sign same 4 multiple should not cross -11

-3

In [419]:
x=-11
x%=4
x               #when oppposite sign table should across -11

1

In [443]:
-22//7

-4

https://www.journaldev.com/26700/python-and-operator<br>
& is a bitwise operator it work with only integers otherwise give type error<br>
integer  converted into binary formate and then bitwise operation performed<br>

In [459]:
x=1
x&=3
x

1

In [472]:
bin(1),bin(3)            #remeber it gives string and all hex() oct() also
                         #but integer take string formate with base and give 
                         #integer

('0b1', '0b11')

In [475]:
0b1 & 0b11    #so u can see first integer convert to bytes then and perform and
              #but using bin() will give us string so don't use it

1

In [484]:
100>>2 #decrease

25

In [485]:
100<<2 #increase

400

In [489]:
int(5)

5

In [491]:
round(34.55)

35

In [492]:
----------5

5

In [493]:
--5

5

In [494]:
---5

-5

In [495]:
--------- 5

-5

In [499]:
round(0.5)-round(-0.5)

0

In [516]:
round(0.5),round(1.4),round(1.5),round(2.5),round(3.5)
#for even number round do flooring at .5
#for odd number round do ceiling  at .5

(0, 1, 2, 2, 4)

In [512]:
round(5.1),round(5.5),round(5.8) #odd so ceiling on.5

(5, 6, 6)

In [517]:
round(10.1),round(10.5),round(10.6),round(10.9) #floor at .5 if even

(10, 10, 11, 11)

In [518]:
##### so at .5 we always going to get even number

In [520]:
round(-0.5)

0

In [521]:
a,b,c = 1000, 2000, 3000

In [522]:
a,b,c

(1000, 2000, 3000)

In [523]:
abc=1,00,000

In [524]:
abc

(1, 0, 0)

In [527]:
'The {} side {1} {2}'.format('bright', 'of', 'life')

ValueError: cannot switch from automatic field numbering to manual field specification

In [528]:
x=56.236
print("%.2f"%x)

56.24

In [530]:
print("xyyzxyzxzxyy".count('xyy', 2, 12))

1

In [531]:
print('a'.maketrans('ABC', '123'))

{65: 49, 66: 50, 67: 51}

In [533]:
chr(65)

'A'

In [534]:
print('xyyxyyxyxyxxy'.replace('xy', '12', 100))

12y12y1212x12

In [537]:
l1=[1, 2, 3, [4]]
l2=list(l1)
l2

[1, 2, 3, [4]]

In [538]:
2+4.00, 2**4.0

(6.0, 16.0)

In [539]:
int(43.55+2/2)

44

In [546]:
a = [0, 1, 2, 3]
for a[1] in a:
    print(a[1])

0
0
2
3

In [549]:
a=[0,1]
a[0]

0

In [551]:
divmod(2.2,2.3)

(0.0, 2.2)

In [3]:
import math
math.isfinite(float('nan'))

False

In [8]:
math.isfinite(float('nan'))

False

In [6]:
type(float('nan'))

float

In [13]:
math.log(100,10)  #answer 100,base10  ---> power2

2.0

In [14]:
import os
os.getlogin()

'taimo'

In [15]:
import pickle
pickle.HIGHEST_PROTOCOL

4

In [16]:
import random
random.choice('sun')

'n'

In [19]:
import sys
eval(sys.stdin.readline())
#"pakistan"
# The function shown above evaluates the input into a string.
# Hence if the input entered is enclosed in double quotes, the output will be enclosed in single quotes.
# Therefore, the output of this code is ‘India’.

SyntaxError: unexpected EOF while parsing (<string>, line 0)

In [20]:
import turtle

In [1]:
1 ^ 0

1

In [2]:
0 ^ 1

1

In [9]:
0 ^ 0 ^ 1

1

[5, 6, 7, 8, 9, 5, 6, 7, 8, 9, 5, 6, 7, 8, 9]

In [34]:
x=eval(input('=>'))
x,type(x)

=>"timmor"

('timmor', str)

In [39]:
#REMEMBER EVAL TAKE STRING ALWAYS AS 
#INOUT GIVE STRING TO EVAL

#in eval if u put string without ' ' it will give you NAME ERROR
# 'taimoor' --> 'taimoor'  , str
# 12  --> 12,    ,   int
#12.2 --> 12.2    ,  float
# 1+2j --> (1+2j)   , complex
# [1,2,3,4] -->  [1,2,3,4] , list
#2,3,4,5  ---> (2,3,4,5) ,tuple
# {2,3,4,5,5} --> {2,3,4,5} , set
# {'a':0, 'd':'lop'} --->  {'a':0, 'd':'lop'}  ,dict

In [38]:
eval('"2"')

'2'

In [43]:
eval('abc') #single quote does not work with eval it does not read it it ignore it and then see value

NameError: name 'abc' is not defined

In [44]:
eval("'taimoor'")

'taimoor'

In [45]:
eval('"""taimoor"""')

'taimoor'

In [46]:
eval('[1,2,3,4]')

[1, 2, 3, 4]

In [51]:
eval("'taimmors gooal'") #back slach give error

'taimmors gooal'

In [55]:
eval(str('2'))

2

In [72]:
eval(float('2.3'))

TypeError: eval() arg 1 must be a string, bytes or code object

In [73]:
import random

In [74]:
random.random()  #take no argument if argument given give TYPEERROR

#value between 0-1
for i in range(12):
    print(random.random())

0.8147389654975249
0.29120992724288297
0.947994768278619
0.8773618248776069
0.5746042704127493
0.25380130663570943
0.39443660135566416
0.7223842660938535
0.9853608346552054
0.262777754162288
0.25651251742600445
0.4643918512364763

In [78]:
for i in list(range(1,10,3)):
    print(i)

1
4
7

In [94]:
list(range(0,100,3)) #that 3 is step means after 0 go and print 3irth one which is 3 and ater 3 print next third one which is 6

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [109]:
#print 3table  till 100  values
c=0
for m in range(3,301,3):
    print(m,end=' ')
    c+=1
c

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162 165 168 171 174 177 180 183 186 189 192 195 198 201 204 207 210 213 216 219 222 225 228 231 234 237 240 243 246 249 252 255 258 261 264 267 270 273 276 279 282 285 288 291 294 297 300

100

In [113]:
# type of range(3,100,3)
(301-3/3)/100

3.0

In [124]:
table=4
table_len=50
table_sart_value=4
table*table_len+1
# table * table_length + 1 ==>gives u range end value

201

In [126]:
c=0
for m in range(4,401,4): #for 5 we have range(5,501,5)   for 6 range(6,601,5):          ---100---values--- 
    print(m,end=' ')
    c+=1
c

4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80 84 88 92 96 100 104 108 112 116 120 124 128 132 136 140 144 148 152 156 160 164 168 172 176 180 184 188 192 196 200 204 208 212 216 220 224 228 232 236 240 244 248 252 256 260 264 268 272 276 280 284 288 292 296 300 304 308 312 316 320 324 328 332 336 340 344 348 352 356 360 364 368 372 376 380 384 388 392 396 400

100

In [140]:
#showing table 1-12 combinations

for first in range(1,13):
    for second in range(1,13):
        print('{0:<3d}x{1:>3d}'.format(first,second))

1  x  1
1  x  2
1  x  3
1  x  4
1  x  5
1  x  6
1  x  7
1  x  8
1  x  9
1  x 10
1  x 11
1  x 12
2  x  1
2  x  2
2  x  3
2  x  4
2  x  5
2  x  6
2  x  7
2  x  8
2  x  9
2  x 10
2  x 11
2  x 12
3  x  1
3  x  2
3  x  3
3  x  4
3  x  5
3  x  6
3  x  7
3  x  8
3  x  9
3  x 10
3  x 11
3  x 12
4  x  1
4  x  2
4  x  3
4  x  4
4  x  5
4  x  6
4  x  7
4  x  8
4  x  9
4  x 10
4  x 11
4  x 12
5  x  1
5  x  2
5  x  3
5  x  4
5  x  5
5  x  6
5  x  7
5  x  8
5  x  9
5  x 10
5  x 11
5  x 12
6  x  1
6  x  2
6  x  3
6  x  4
6  x  5
6  x  6
6  x  7
6  x  8
6  x  9
6  x 10
6  x 11
6  x 12
7  x  1
7  x  2
7  x  3
7  x  4
7  x  5
7  x  6
7  x  7
7  x  8
7  x  9
7  x 10
7  x 11
7  x 12
8  x  1
8  x  2
8  x  3
8  x  4
8  x  5
8  x  6
8  x  7
8  x  8
8  x  9
8  x 10
8  x 11
8  x 12
9  x  1
9  x  2
9  x  3
9  x  4
9  x  5
9  x  6
9  x  7
9  x  8
9  x  9
9  x 10
9  x 11
9  x 12
10 x  1
10 x  2
10 x  3
10 x  4
10 x  5
10 x  6
10 x  7
10 x  8
10 x  9
10 x 10
10 x 11
10 x 12
11 x  1
11 x  2
11 x  3
11 x  4
11 x  5
11 x  6
11 x  7
11 x  8
11 x  9
11 x 10
11 x 11
11 x 12
12 x  1
12 x  2
12 x  3
12 x  4
12 x  5
12 x  6
12 x  7
12 x  8
12 x  9
12 x 10
12 x 11
12 x 12

In [156]:
range(1,10,3)

range(1, 10, 3)

In [162]:
list(range(3,31,3)) #never to arithmat on ary kind of operation on range()

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [163]:
import random

In [170]:
random.randint(1,10)*2 #it include both limit but only give one at a time so wrap it in for loop 
                       #u can perform arthematic as it give integer and it's type is interger
                        # now it is giving you only one value from table of 2   from 1-10

14

In [182]:
for x in range(1,11):
    print('{0:<3d}x{1:^4d}={2:>5d}'.format(2,x,2*x))

2  x 1  =    2
2  x 2  =    4
2  x 3  =    6
2  x 4  =    8
2  x 5  =   10
2  x 6  =   12
2  x 7  =   14
2  x 8  =   16
2  x 9  =   18
2  x 10 =   20

In [185]:
random.randint(1,10)*3  #any value from three table under 1-10 length of table including limits

9

In [217]:
#randoms.randrange is not itertable it also gives u 
type( random.randrange(3,31,3)),random.randrange(1,10,1)  *1

(int, 8)

In [223]:
for i in range(0,100):
    print(random.randrange(0,10,2)) #just like range() but now give value and random  
                                    #random.randrange(0,10,2) gives one value from 0,2,4,6,8,

6
2
2
6
2
0
2
8
2
8
2
0
0
0
6
2
8
4
8
2
6
2
2
0
0
8
6
2
8
8
0
2
8
0
2
2
2
4
4
8
4
6
8
2
2
6
8
2
4
4
4
0
4
0
0
8
2
8
4
6
0
2
0
6
8
8
4
0
8
0
6
8
0
2
0
8
6
8
8
2
4
0
0
0
0
4
4
8
0
8
6
6
2
0
8
8
4
8
8
0

In [255]:
import random
a=['a','b','c','d','e']
dic=dict()
for i in range(1,10):
    random.shuffle(a,random=random.random)
    print(a)
    dic[i]=a[:]
    print(dic[i],end='\n======\n')
    if i == 3:
        break
    else:
        pass
dic

['c', 'b', 'a', 'd', 'e']
['c', 'b', 'a', 'd', 'e']
======
['c', 'b', 'd', 'e', 'a']
['c', 'b', 'd', 'e', 'a']
======
['e', 'a', 'd', 'b', 'c']
['e', 'a', 'd', 'b', 'c']
======

{1: ['c', 'b', 'a', 'd', 'e'],
 2: ['c', 'b', 'd', 'e', 'a'],
 3: ['e', 'a', 'd', 'b', 'c']}

In [259]:
root = {}
root.setdefault('A', [])
print(root)

{'A': []}

In [261]:
a=['cd']
d={}
d[1]=a   #if u change a dictionray values at key 1 will also change
a.append('f')
d

{1: ['cd', 'f']}

In [276]:
import keyboard,time
ls=input('range=> 1-10: ').split('-')
while True:
        a=random.randint(int(ls[0]),int(ls[1]))
        print(a,end=',')
        time.sleep(0.01)
        if keyboard.is_pressed('s'):
            print('------')
            print('selected',a)
            break

range=> 1-10: 1-10
1,1,2,1,4,2,8,5,2,10,6,8,5,5,8,9,6,5,7,4,5,1,4,4,3,5,3,4,7,6,10,8,10,9,5,5,8,3,10,3,3,1,4,1,6,9,10,5,3,6,2,5,6,3,10,8,8,7,4,1,10,5,3,3,6,2,5,6,9,2,1,5,6,10,7,8,10,6,8,5,2,8,7,8,3,1,5,4,3,5,8,1,2,2,2,9,1,9,2,2,6,6,6,2,8,7,9,7,6,7,5,5,9,1,8,10,8,6,1,10,9,3,1,9,7,6,8,5,4,8,4,1,6,7,8,5,7,4,8,1,8,10,1,2,2,10,5,1,4,2,2,2,4,4,5,8,10,2,10,8,10,6,7,2,8,5,6,9,9,7,8,8,3,10,4,9,2,9,1,9,3,8,10,8,2,4,1,8,1,5,------
selected 5

In [286]:
random.choice([1.1,222,3,4,5.3,5.3,6]) #onyl one

3

In [288]:
random.choices([1.1,222,3,4,5.3,5.3,6],k=10)  #select 10 out of list and wiht replacement

[5.3, 1.1, 3, 222, 222, 4, 4, 5.3, 5.3, 4]

In [291]:
random.choices((2,3,4,4,5,5,6),k=10)  #select 10 out of list and wiht replacement
                                        #it always give u list back
                                        #give type error if dictionary use

[6, 2, 4, 4, 3, 5, 5, 6, 2, 4]

In [296]:
random.choices('abcdef',k=10)  #work with string also  but give result in list at the ened

['f', 'd', 'c', 'a', 'f', 'a', 'a', 'a', 'e', 'f']

In [308]:
random.choice('abcd')

'd'

In [299]:
student={'name':'taimoor','age':28}

In [300]:
student.get('name','Ali')

'taimoor'

In [301]:
student.get('address','272-C Asghral Mall Scheme')

'272-C Asghral Mall Scheme'

In [302]:
student   #get does not stroed key:value paire in real get second string is just a message to user

{'name': 'taimoor', 'age': 28}

In [303]:
student.setdefault('name','Taimoor Arif')

'taimoor'

In [304]:
student

{'name': 'taimoor', 'age': 28}

In [305]:
student.setdefault('address','272-c asghral mall scheme')

'272-c asghral mall scheme'

In [307]:
student   #setdefault also store the key:value pair in side if not found  #its second string is a value and first is key

{'name': 'taimoor', 'age': 28, 'address': '272-c asghral mall scheme'}

In [310]:
x='abcdefghijklmnop'
x[3:10]

'defghij'

In [311]:
[2,3] == [2,3]

True

https://www.programiz.com/python-programming/file-operation
<br>file read write

In [313]:
import datetime

In [343]:
to_day=datetime.datetime.today()
to_day,datetime.date.today()

(datetime.datetime(2020, 3, 8, 12, 2, 43, 895766), datetime.date(2020, 3, 8))

In [335]:
to_day.strftime('%a is %A ,%b is %B, %C%y-%m-%d, %H:%M:%S')

'Sun is Sunday ,Mar is March, 2020-03-08, 11:59:52'

In [346]:
date_agki=datetime.date.today()

In [362]:
date_agki.year

2020

### how to give your desire date or time or both 
https://stackabuse.com/how-to-format-dates-in-python/

In [375]:
datetime.datetime(2020,2,2,12,10) #datetime

datetime.datetime(2020, 2, 2, 12, 10)

In [424]:
datetime.date(2020,2,2) #date only year,month,day
#datetime.date(2020,2,2).strftime('%Y %m %d')  online time to string format

datetime.date(2020, 2, 2)

In [412]:
datetime.time(16,3,3)  #time only hr0-23,minutes,seconds,milisecond

# datetime.time(16,3,3).strftime('%H:%M:%S') oneline convert to string format

datetime.time(16, 3, 3)

In [399]:
datetime.date.today()

datetime.date(2020, 3, 8)

In [431]:
datetime.datetime.now().time().strftime('%X')

'12:43:04'

In [440]:
print('{:6d}'.format(6))

     6

In [441]:
5+6\
+1

12

### Precedence

Operators	Meaning
()                          Parentheses
**                          Exponent
+x, -x, ~x                  Unary plus, Unary minus, Bitwise NOT
*, /, //, %                 Multiplication, Division, Floor division, Modulus
+, -                        Addition, Subtraction
<<, >>                      Bitwise shift operators
&                           Bitwise AND
^                           Bitwise XOR
|                           Bitwise OR
==, !=, >, >=, <, <=, , 	Comparisions,
is, is not                  Identity,
in, not in                  Membership operators
not	                        Logical NOT
and	                        Logical AND
or	                        Logical OR

PEMDAS

In [447]:
x='go'
y='go'
x is y,x==y

(True, True)

In [455]:
2.0 is 2    ,   2 == 2.0

(False, True)

In [451]:
id(2),id(2),id(2.0)

(140735259054944, 140735259054944, 2744455771216)

In [452]:
id(2.0)

2744455771240

In [466]:
'Abbbbbbb'<'ab'

True

In [459]:
ord('A'),ord('a')

(65, 97)

In [472]:
chr(25+65),chr(97+25),chr(94)

('Z', 'z', '^')

In [463]:
65+98 ,9766

(163, 9766)

The comparison uses lexicographical ordering: first the first two items are compared, and if they differ this determines the outcome of the comparison; if they are equal, the next two items are compared, and so on, until either sequence is exhausted.

Also:

Lexicographical ordering for strings uses the Unicode code point number to order individual characters.

In [469]:
'aAc'>'aAd'

False

65=='A' and 65+25=='Z'
97=='a' and 97+25=='z

In [474]:
[chr(i) for i in range(91,97)]

['[', '\\', ']', '^', '_', '`']

In [481]:
import random

random.randrange(5,105,5)

25

In [494]:
x=[0,1,2,3,4,5,6,7,8,9,9.5,10,11,12,13,14]
x[11:4:-1]

[10, 9.5, 9, 8, 7, 6, 5]

In [495]:
x[0]=11

In [496]:
x

[11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9.5, 10, 11, 12, 13, 14]

In [497]:
x[2:7]=[1]

In [500]:
x[2:100000]=[1]

In [502]:
x[:]=[1]

In [503]:
x

[1]

In [504]:
x=[11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9.5, 10, 11, 12, 13, 14]

In [505]:
x[2:7]=(1,2,3)

In [506]:
x

[11, 1, 1, 2, 3, 7, 8, 9, 9.5, 10, 11, 12, 13, 14]

In [508]:
x[7:2:-1]='abcd',1,2,3,4

In [510]:
x

[11, 1, 1, 4, 3, 2, 1, 'abcd', 9.5, 10, 11, 12, 13, 14]

In [511]:
random.random()

0.40554022957713776

In [525]:
random.randrange(1,10)*2

18

In [527]:
random.choice([1,2,3,4,5])

4

In [541]:
x=[1,2,3,4,5]
random.shuffle(x)
x

[1, 2, 4, 3, 5]

In [542]:
x[2:5]

[4, 3, 5]

In [551]:
x=3
def fun():
    print(x)             #it will take x value from out side
fun()
print(x)

3
3

In [559]:
x=3                 #these is no need to declear x as global outside always declear inside function
def fun():
    global x   #now anything happen to x willnot be isolated to just this function
    x=444
    print(x)  #so x become 444
fun()
print(x)    #out side it is also same

444
444

In [585]:
x=3
def fun():
    """here we did decleared x as global and if we 
    do after we get SYNTAX ERROR"""
    
    x=444
    print(x)
    
fun()
print(x)

444
3

By using the "global" keyword, you prevent n assignment
inside a function from
making it local.

In [586]:
help(fun)

Help on function fun in module __main__:

fun()
    here we did decleared x as global and if we
    do after we get SYNTAX ERROR

In [590]:
p=2
while p<=100:
    prim=True
    for i in range(2,p):
        if p%i == 0:
            prim=False
            break
    if prim ==True:
        print(p)
    p+=1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [591]:
4/3

1.3333333333333333

In [592]:
reverse='taimoor'
reverse=reverse[::-1]

In [595]:
straight=str()
for i in range(len(reverse)-1,-1,-1):
    
    straight+=reverse[i]

In [596]:
straight

'taimoor'

In [600]:
with open('fillllll/txt') as f:
    pass

FileNotFoundError: [Errno 2] No such file or directory: 'fillllll/txt'

In [603]:
obj=Exception()

In [637]:
Exception.__subclasses__()[13].__subclasses__()[0].__subclasses__()

[]

In [645]:

for i in Exception.__subclasses__():
    print(i)
    if i !=[]:
        for j in i.__subclasses__():
            print('--',j)
            if j !=[]:
                for k in j.__subclasses__():
                    print('----',k)
                    for l in k.__subclasses__():
                        print('-------',l)

<class 'TypeError'>
-- <class 'email.errors.MultipartConversionError'>
-- <class 'decimal.FloatOperation'>
<class 'StopAsyncIteration'>
<class 'StopIteration'>
<class 'ImportError'>
-- <class 'ModuleNotFoundError'>
-- <class 'zipimport.ZipImportError'>
<class 'OSError'>
-- <class 'ConnectionError'>
---- <class 'BrokenPipeError'>
---- <class 'ConnectionAbortedError'>
---- <class 'ConnectionRefusedError'>
---- <class 'ConnectionResetError'>
------- <class 'http.client.RemoteDisconnected'>
-- <class 'BlockingIOError'>
-- <class 'ChildProcessError'>
-- <class 'FileExistsError'>
-- <class 'FileNotFoundError'>
-- <class 'IsADirectoryError'>
-- <class 'NotADirectoryError'>
-- <class 'InterruptedError'>
---- <class 'zmq.error.InterruptedSystemCall'>
-- <class 'PermissionError'>
-- <class 'ProcessLookupError'>
-- <class 'TimeoutError'>
-- <class 'io.UnsupportedOperation'>
-- <class 'shutil.Error'>
---- <class 'shutil.SameFileError'>
-- <class 'shutil.SpecialFileError'>
-- <class 'shutil.ExecError'>
-- <class 'shutil.ReadError'>
-- <class 'socket.herror'>
-- <class 'socket.gaierror'>
-- <class 'socket.timeout'>
-- <class 'ssl.SSLError'>
---- <class 'ssl.SSLCertVerificationError'>
---- <class 'ssl.SSLZeroReturnError'>
---- <class 'ssl.SSLWantReadError'>
---- <class 'ssl.SSLWantWriteError'>
---- <class 'ssl.SSLSyscallError'>
---- <class 'ssl.SSLEOFError'>
-- <class 'urllib.error.URLError'>
---- <class 'urllib.error.HTTPError'>
---- <class 'urllib.error.ContentTooShortError'>
<class 'EOFError'>
-- <class 'asyncio.streams.IncompleteReadError'>
<class 'RuntimeError'>
-- <class 'RecursionError'>
-- <class 'NotImplementedError'>
---- <class 'IPython.core.error.StdinNotImplementedError'>
---- <class 'zmq.error.ZMQVersionError'>
-- <class '_frozen_importlib._DeadlockError'>
-- <class 'threading.BrokenBarrierError'>
-- <class 'concurrent.futures._base.BrokenExecutor'>
-- <class 'asyncio.events.SendfileNotAvailableError'>
<class 'NameError'>
-- <class 'UnboundLocalError'>
<class 'AttributeError'>
<class 'SyntaxError'>
-- <class 'IndentationError'>
---- <class 'TabError'>
<class 'LookupError'>
-- <class 'IndexError'>
-- <class 'KeyError'>
---- <class 'IPython.terminal.pt_inputhooks.UnknownBackend'>
---- <class 'jupyter_client.kernelspec.NoSuchKernel'>
-- <class 'encodings.CodecRegistryError'>
<class 'ValueError'>
-- <class 'UnicodeError'>
---- <class 'UnicodeEncodeError'>
---- <class 'UnicodeDecodeError'>
---- <class 'UnicodeTranslateError'>
-- <class 'io.UnsupportedOperation'>
-- <class 'json.decoder.JSONDecodeError'>
-- <class 'pygments.util.ClassNotFound'>
-- <class 'binascii.Error'>
-- <class 'ssl.SSLCertVerificationError'>
-- <class 'IPython.lib.clipboard.ClipboardEmpty'>
-- <class 'email.errors.MessageDefect'>
---- <class 'email.errors.NoBoundaryInMultipartDefect'>
---- <class 'email.errors.StartBoundaryNotFoundDefect'>
---- <class 'email.errors.CloseBoundaryNotFoundDefect'>
---- <class 'email.errors.FirstHeaderLineIsContinuationDefect'>
---- <class 'email.errors.MisplacedEnvelopeHeaderDefect'>
---- <class 'email.errors.MissingHeaderBodySeparatorDefect'>
---- <class 'email.errors.MultipartInvariantViolationDefect'>
---- <class 'email.errors.InvalidMultipartContentTransferEncodingDefect'>
---- <class 'email.errors.UndecodableBytesDefect'>
---- <class 'email.errors.InvalidBase64PaddingDefect'>
---- <class 'email.errors.InvalidBase64CharactersDefect'>
---- <class 'email.errors.InvalidBase64LengthDefect'>
---- <class 'email.errors.HeaderDefect'>
------- <class 'email.errors.InvalidHeaderDefect'>
------- <class 'email.errors.HeaderMissingRequiredValue'>
------- <class 'email.errors.NonPrintableDefect'>
------- <class 'email.errors.ObsoleteHeaderDefect'>
------- <class 'email.errors.NonASCIILocalPartDefect'>
-- <class 'calendar.IllegalMonthError'>
-- <class 'calendar.IllegalWeekdayError'>
-- <class 'IPython.core.magics.code.MacroToEdit'>
-- <class 'dateutil.parser._parser.ParserError'>
<class 'AssertionError'>
<class 'ArithmeticError'>
-- <class 'FloatingPointError'>
-- <class 'OverflowError'>
-- <class 'ZeroDivisionError'>
---- <class 'decimal.DivisionByZero'>
---- <class 'decimal.DivisionUndefined'>
-- <class 'decimal.DecimalException'>
---- <class 'decimal.Clamped'>
---- <class 'decimal.Rounded'>
------- <class 'decimal.Underflow'>
------- <class 'decimal.Overflow'>
---- <class 'decimal.Inexact'>
------- <class 'decimal.Underflow'>
------- <class 'decimal.Overflow'>
---- <class 'decimal.Subnormal'>
------- <class 'decimal.Underflow'>
---- <class 'decimal.DivisionByZero'>
---- <class 'decimal.FloatOperation'>
---- <class 'decimal.InvalidOperation'>
------- <class 'decimal.ConversionSyntax'>
------- <class 'decimal.DivisionImpossible'>
------- <class 'decimal.DivisionUndefined'>
------- <class 'decimal.InvalidContext'>
<class 'SystemError'>
-- <class 'encodings.CodecRegistryError'>
<class 'ReferenceError'>
<class 'MemoryError'>
<class 'BufferError'>
<class 'Warning'>
-- <class 'UserWarning'>
---- <class 'getpass.GetPassWarning'>
---- <class 'IPython.core.formatters.FormatterWarning'>
-- <class 'DeprecationWarning'>
---- <class 'IPython.core.interactiveshell.ProvisionalWarning'>
-- <class 'PendingDeprecationWarning'>
-- <class 'SyntaxWarning'>
-- <class 'RuntimeWarning'>
---- <class 'dateutil.parser._parser.UnknownTimezoneWarning'>
-- <class 'FutureWarning'>
---- <class 'IPython.core.completer.ProvisionalCompleterWarning'>
-- <class 'ImportWarning'>
-- <class 'UnicodeWarning'>
-- <class 'BytesWarning'>
-- <class 'ResourceWarning'>
-- <class 'dateutil.tz.DeprecatedTzFormatWarning'>
<class 'locale.Error'>
<class 'warnings._OptionError'>
<class 'runpy._Error'>
<class 're.error'>
<class 'sre_parse.Verbose'>
<class 'subprocess.SubprocessError'>
-- <class 'subprocess.CalledProcessError'>
-- <class 'subprocess.TimeoutExpired'>
<class 'tokenize.TokenError'>
<class 'tokenize.StopTokenizing'>
<class 'copy.Error'>
<class 'zlib.error'>
<class '_lzma.LZMAError'>
<class 'shutil.RegistryError'>
<class 'inspect.EndOfBlock'>
<class 'struct.error'>
<class 'traitlets.traitlets.TraitError'>
<class 'argparse.ArgumentError'>
<class 'argparse.ArgumentTypeError'>
<class 'traitlets.config.loader.ConfigError'>
-- <class 'traitlets.config.loader.ConfigLoaderError'>
---- <class 'traitlets.config.loader.ArgumentError'>
-- <class 'traitlets.config.loader.ConfigFileNotFound'>
<class 'traitlets.config.configurable.ConfigurableError'>
-- <class 'traitlets.config.configurable.MultipleInstanceError'>
<class 'traitlets.config.application.ApplicationError'>
<class 'pydoc.ErrorDuringImport'>
<class 'bdb.BdbQuit'>
<class 'pygments.util.OptionError'>
<class 'pdb.Restart'>
<class '_ctypes.COMError'>
<class 'ctypes.ArgumentError'>
<class 'IPython.utils.process.FindCmdError'>
<class 'IPython.utils.path.HomeDirError'>
<class 'IPython.core.profiledir.ProfileDirError'>
<class 'IPython.core.error.IPythonCoreError'>
-- <class 'IPython.core.error.TryNext'>
-- <class 'IPython.core.error.UsageError'>
-- <class 'IPython.core.error.StdinNotImplementedError'>
<class 'IPython.core.error.InputRejected'>
<class 'getopt.GetoptError'>
<class 'binascii.Incomplete'>
<class 'pygments.filters.ErrorToken'>
<class 'pickle._Stop'>
<class '_pickle.PickleError'>
-- <class '_pickle.PicklingError'>
-- <class '_pickle.UnpicklingError'>
<class 'IPython.core.prefilter.PrefilterError'>
<class 'IPython.core.alias.AliasError'>
-- <class 'IPython.core.alias.InvalidAliasError'>
<class 'sqlite3.Error'>
-- <class 'sqlite3.InterfaceError'>
-- <class 'sqlite3.DatabaseError'>
---- <class 'sqlite3.InternalError'>
---- <class 'sqlite3.OperationalError'>
---- <class 'sqlite3.ProgrammingError'>
---- <class 'sqlite3.IntegrityError'>
---- <class 'sqlite3.DataError'>
---- <class 'sqlite3.NotSupportedError'>
<class 'sqlite3.Warning'>
<class 'IPython.core.interactiveshell.SpaceInInput'>
<class 'concurrent.futures._base.Error'>
-- <class 'concurrent.futures._base.CancelledError'>
-- <class 'concurrent.futures._base.TimeoutError'>
-- <class 'asyncio.base_futures.InvalidStateError'>
<class 'socket._GiveupOnSendfile'>
<class 'asyncio.queues.QueueEmpty'>
<class 'asyncio.queues.QueueFull'>
<class 'asyncio.streams.LimitOverrunError'>
<class '_queue.Empty'>
<class 'queue.Full'>
<class 'prompt_toolkit.eventloop.context.TaskLocalNotSetError'>
<class 'prompt_toolkit.eventloop.future.InvalidStateError'>
<class 'prompt_toolkit.eventloop.coroutine.Return'>
<class 'prompt_toolkit.application.current.NoRunningApplicationError'>
<class 'prompt_toolkit.validation.ValidationError'>
<class 'prompt_toolkit.buffer.EditReadOnlyBuffer'>
<class 'prompt_toolkit.buffer._Retry'>
<class 'xml.dom.DOMException'>
-- <class 'xml.dom.IndexSizeErr'>
-- <class 'xml.dom.DomstringSizeErr'>
-- <class 'xml.dom.HierarchyRequestErr'>
-- <class 'xml.dom.WrongDocumentErr'>
-- <class 'xml.dom.InvalidCharacterErr'>
-- <class 'xml.dom.NoDataAllowedErr'>
-- <class 'xml.dom.NoModificationAllowedErr'>
-- <class 'xml.dom.NotFoundErr'>
-- <class 'xml.dom.NotSupportedErr'>
-- <class 'xml.dom.InuseAttributeErr'>
-- <class 'xml.dom.InvalidStateErr'>
-- <class 'xml.dom.SyntaxErr'>
-- <class 'xml.dom.InvalidModificationErr'>
-- <class 'xml.dom.NamespaceErr'>
-- <class 'xml.dom.InvalidAccessErr'>
-- <class 'xml.dom.ValidationErr'>
<class 'prompt_toolkit.layout.layout.InvalidLayoutError'>
<class 'prompt_toolkit.renderer.HeightIsUnknownError'>
<class 'parso.parser.ParserSyntaxError'>
<class 'parso.parser.InternalParseError'>
<class 'parso.python.diff._PositionUpdatingFinished'>
<class 'jedi.evaluate.utils.UncaughtAttributeError'>
<class 'jedi.evaluate.helpers.SimpleGetItemNotFound'>
<class 'jedi.evaluate.arguments.ParamIssue'>
<class 'jedi.api.helpers.OnErrorLeaf'>
<class 'jedi.api.exceptions._JediError'>
-- <class 'jedi.api.exceptions.InternalError'>
-- <class 'jedi.api.exceptions.WrongVersion'>
<class 'jedi.api.environment.InvalidPythonEnvironment'>
<class 'email.errors.MessageError'>
-- <class 'email.errors.MessageParseError'>
---- <class 'email.errors.HeaderParseError'>
---- <class 'email.errors.BoundaryError'>
-- <class 'email.errors.MultipartConversionError'>
-- <class 'email.errors.CharsetError'>
<class 'uu.Error'>
<class 'http.client.HTTPException'>
-- <class 'http.client.NotConnected'>
-- <class 'http.client.InvalidURL'>
-- <class 'http.client.UnknownProtocol'>
-- <class 'http.client.UnknownTransferEncoding'>
-- <class 'http.client.UnimplementedFileMode'>
-- <class 'http.client.IncompleteRead'>
-- <class 'http.client.ImproperConnectionState'>
---- <class 'http.client.CannotSendRequest'>
---- <class 'http.client.CannotSendHeader'>
---- <class 'http.client.ResponseNotReady'>
-- <class 'http.client.BadStatusLine'>
---- <class 'http.client.RemoteDisconnected'>
-- <class 'http.client.LineTooLong'>
<class 'IPython.core.magics.code.InteractivelyDefined'>
<class 'IPython.terminal.embed.KillEmbedded'>
<class 'zmq.error.ZMQBaseError'>
-- <class 'zmq.error.ZMQError'>
---- <class 'zmq.error.ContextTerminated'>
---- <class 'zmq.error.Again'>
---- <class 'zmq.error.InterruptedSystemCall'>
-- <class 'zmq.error.ZMQBindError'>
-- <class 'zmq.error.NotDone'>
<class 'jupyter_client.localinterfaces.NoIPAddresses'>
<class 'jupyter_client.channels.InvalidPortNumber'>
<class 'jupyter_client.multikernelmanager.DuplicateKernelError'>
<class 'tornado.util.TimeoutError'>
<class 'tornado.concurrent.ReturnValueIgnoredError'>
<class 'tornado.gen.KeyReuseError'>
<class 'tornado.gen.UnknownKeyError'>
<class 'tornado.gen.LeakedCallbackError'>
<class 'tornado.gen.BadYieldError'>
<class 'tornado.gen.ReturnValueIgnoredError'>
<class 'tornado.gen.Return'>
<class 'tornado.queues.QueueEmpty'>
<class 'tornado.queues.QueueFull'>
<class 'pywintypes.error'>
<class 'pywintypes.com_error'>
<class 'numpydoc.docscrape.ParseError'>

In [646]:
import os

In [647]:
os.path.exists('lololo')

False

In [650]:
a=['a','b','c','d','e']

for index in range(len(a)):
    print(a[index])

a
b
c
d
e

In [2]:
rooms={1:'my',2:'your'}
get = input('=>:')
if not get in rooms:
    print('no')
else:
    print(rooms[get])

=>:1
no

In [3]:
'1' in [1,2]

False

In [4]:
'20'*2

'2020'

In [5]:
2*'20'

'2020'

In [7]:
'e' in'erum'

True

In [10]:
'sunday'>'Sunday'

True

In [11]:
[1,2] is [1,2]

False

In [12]:
[1] is [1]

False

In [13]:
x=[1]
y=x
y is x

True

In [17]:
x=3
-x*3

-8

In [18]:
(3*(1+2)**2-(2**2)*3)

15

In [19]:
import random

In [24]:
for i in range(10):
    print(random.randrange(5,12,1))

11
11
10
6
6
11
5
5
11
10

In [25]:
x=float(input('=>'))

=>1

In [26]:
type(x)

float

In [27]:
x

1.0

In [33]:
try:
    print(1/2)
finally:
    print('done')

0.5
done