# STRING IT'S METHODS & VARIABLE

In [10]:
n='ppp'

d = {
    "ll":n,
}

In [11]:
d

{'ll': 'ppp'}

In [12]:
d.items()

dict_items([('ll', 'ppp')])

In [13]:
ls=[d]

In [14]:
ls

[{'ll': 'ppp'}]

In [15]:
ls[0]['ll']

'ppp'

In [22]:
x= float(input('hi how are you'))

hi how are you1

In [1]:
'abcd'.casefold()

'abcd'

In [2]:
'abc'.center(4,'*')

'abc*'

In [28]:
"ABCD".title()

'Abcd'

In [29]:
"csdceDDDCddcddcd $$$".title()

'Csdcedddcddcddcd $$$'

In [30]:
"abcDDDd".lower()

'abcdddd'

In [31]:
"$abbd".title()

'$Abbd'

In [32]:
'$  sufuibfiubfuieg'.title()

'$  Sufuibfiubfuieg'

In [33]:
'9364969!@##$$%%^^^^^%$$m'.title()

'9364969!@##$$%%^^^^^%$$M'

In [34]:
'9364969!@##$$%%^^^^^%$$m$$$$eyg$$'.title()

'9364969!@##$$%%^^^^^%$$M$$$$Eyg$$'

In [35]:
'9364969!@##$$%%^^^^^%$$m'.upper()

'9364969!@##$$%%^^^^^%$$M'

In [36]:
'9364969!@##$$%%^^^^^%$$m'.lower()

'9364969!@##$$%%^^^^^%$$m'

In [37]:
list('9364969!@##$$%%^^^^^%$$m')

['9',
 '3',
 '6',
 '4',
 '9',
 '6',
 '9',
 '!',
 '@',
 '#',
 '#',
 '$',
 '$',
 '%',
 '%',
 '^',
 '^',
 '^',
 '^',
 '^',
 '%',
 '$',
 '$',
 'm']

In [38]:
ls=list('list()');ls

['l', 'i', 's', 't', '(', ')']

In [39]:
Mname = 'taimoor'
fname = 'Arif'
fu = Mname + ' ' + fname
fu

'taimoor Arif'

In [40]:
"Hello, " + fu.title() + " !"

'Hello, Taimoor Arif !'

In [41]:
"Hello:\t taimoor arif".title()

'Hello:\t Taimoor Arif'

In [42]:
'Tai-moor'.title()

'Tai-Moor'

In [43]:
'T@im@@r Ar*f'.title()

'T@Im@@R Ar*F'

In [44]:
"Hello : \t Taimoor Arif"

'Hello : \t Taimoor Arif'

In [45]:
print("Hello : \t Taimoor Arif")

Hello : 	 Taimoor Arif

In [46]:
print("Hello :\n\tyou are good person \n\t:)")

Hello :
	you are good person
	:)

In [47]:
print("""Hellow:
        you are goof person
        :)""")

Hellow:
        you are goof person
        :)

In [48]:
print("""Hellow :
     you are goof person
    :)""")

Hellow :
     you are goof person
    :)

In [49]:
print("""
Hello:
you are goof person
:)
""")

Hello:
you are goof person
:)

In [50]:
print("I am Taimoor:\n\tpython\n\tdatascience ")

I am Taimoor:
	python
	datascience

In [51]:
name = 'taimoor\narif'
name=name.title()
print(name)

Taimoor
Arif

In [52]:
name = 'taimoor\narif'

In [53]:
'taimoor\narif'

'taimoor\narif'

In [54]:
name = 'taimoor\narif'
print(name.title())

Taimoor
Arif

In [55]:
name = 'taimoor\narif'

In [56]:
got_name=' taimoor arif '
lstriped_name = got_name.lstrip()
lstriped_name

'taimoor arif '

In [57]:
got_name

' taimoor arif '

In [58]:
' taimoor arif '.title().lstrip()

'Taimoor Arif '

In [59]:
print(got_name.title().lstrip())

Taimoor Arif

In [60]:
got_namec = got_name.lstrip().title()

In [61]:
got_namec

'Taimoor Arif '

In [62]:
'taimoor\n\n\n\n\n$arif'.replace('\n$','')

'taimoor\n\n\n\narif'

In [63]:
raw_name = 'taimoor\n\n\n\n\n$arif'
raw_name.replace('\n','')

'taimoor$arif'

In [64]:
'taimoor\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n$arif'.replace('\n','0',1000000000000000000)

'taimoor0000000000000000000000000000000000000000000000000000000000000000000000000$arif'

In [65]:
'taimoor\n\n\n\n\n\n\n\n\n\n$arif'.replace('\n','',1000000000000000000)

'taimoor$arif'

In [66]:
'taimoor\n\n\n\n\n\n\n\n\n\n$arif'.find('\n',16)

16

In [67]:
'taimoor\n\n\n\n\n\n\n\n\n\n$arif'[7:17]

'\n\n\n\n\n\n\n\n\n\n'

In [68]:
upwork_name = 'taimoor'
upwork

NameError: name 'upwork' is not defined

In [ ]:
pre=len('taimoor\n\n\n\n\n\n\n\n\n\n$arif')
aft=len('taimoor\n\n\n\n\n\n\n\n\n\n$arif'.replace('\n',''))
print(pre,aft,pre-aft,sep='\n')

In [ ]:

def fun(string,what):
    count=0
    i=0
    position=None
    while position !=-1:
        position=string.find(what,i)
        i=position+len(what)
        if position !=-1:
            count+=1
        else:
            return count

In [ ]:
#Name Error
#Syntax Error
#UnboundLocalError

In [69]:
fun(string='i love pakistan pakistan is my soule and pakistani is my love and i am pakistani',what='a')

NameError: name 'fun' is not defined

In [ ]:
[0]*3

In [ ]:
[0]+[1]

In [ ]:
sum([1,2,3])

In [ ]:
di={
    'chahu':{'age':144},
    'nano':{'age':111},
    'phupo':{'age':171},
    'khala':{'age':132},
    'dado':{'age':55}
}

for x in di:
   print(di[x]['age'])

In [ ]:
# min,max,sorted all such function 
#consider first arugment list and perform for loop on it and if we give second argument then it means 
# perform some tranformation in side for loop and append result to a list [] and find max min sorted from that 
#in below example 

#['chahu','nano','phupo','khala','dado'] are the keys
#on these keys for loop was performed  by max(),min(),sorted() function depend upon which one you used
#that for loop store value in some variable you can name it just like we do in for loop --> for xxx in ['chahu',phupo,...]
#so we name it k down below or xxx in above line 
#we can only  name it in second argument and it is positonal argument menas you have to use varibale name key=  2argument
#in that second arguemnt we can onnly give function 
#so we pass for loop  value storer  which is k or xxx into function
#then function try to reach into depth of di and get age:vale
#then those values get compare to each other and
#max return key that this key have max value or min value etc

In [ ]:
min(['chahu','nano','phupo','khala','dado'], key=lambda k: di[k]['age'])

In [ ]:
{'age':1}['age']

In [ ]:
for x in di:
    print(di[x]['age'])

In [ ]:
min(di,key= lambda x: di[x]['age'])

(),**,*,/,+,-

In [70]:
age=13
message = 'm age is ' + str(age)
print(message)
# is th econcatination sign that confuse python wether to use integer as integer or as string because before + sign we have 
#string  and we cannot add a integer to string
#banana cannot be added to banana +mobile they have nothing in comman
#to use + operator left and righ operant must be no very much different

#but float and integer can be use to gether 
#but concating string + with intger not allowed

m age is 13

In [71]:
#Name Error
#Syntax Error
#UnboundLocalError                         
#Type Error

In [72]:
message = 'm age is ',age
message

('m age is ', 13)

In [73]:
'mm',13
#just my replacing + with--> , <--- it converted them in to tuple elements

('mm', 13)

In [74]:
1/5
#integer divison gave float

0.2

In [75]:
1//5
#no we got integer only

0

In [3]:
y = str(2) + "w"
y

'2w'

In [76]:
import zen

ModuleNotFoundError: No module named 'zen'

# LIST

In [ ]:
lsa=['asalmu','alikum','wa','rahmatul','hi','wabarqatu','hu','bismlla','irakh','ma','nira','him']
lse=['have','blessing','upon','you','all']
ls=[1,2,3,4,5,6,7,8,9,10]

In [4]:
animal='cat'
if animal in["dog", "cat", "mouse"]:
  print("mammal")

mammal

In [7]:
[1,2] == (1,2)

False

In [8]:
[1,2][0] == (1,2)[0]

True

In [9]:
[1,2] in (1,2)

False

In [11]:
[1,2][0] in (1,2)

True

In [13]:
[1,2][0] in (1,2)

True

In [3]:
[1,2]+[1,2]

[1, 2, 1, 2]

In [4]:
[1,2] == [1,2]

True

In [ ]:
lsa[0]
lsa[-1]

lsa[-1:-5:-2]
ls[-1::1]

In [ ]:
ls[-10000::1]

In [ ]:
ls[1:1]
#it did not gave error it gave emptylis which is also a some kind of limitation

In [ ]:
ls[1:-1]

In [ ]:
ls[1:-1:1]  #it take both + and - index and in last take direction and next step

In [ ]:
ls[-9:8:2] #it take both - and + index and in last take direction and next step

In [ ]:
ls[-2:2:1] #it gave empty  to understand first convert all negative index to positive corrosponding index
# [8:2:1] #so  now we have equlant positive  it is saying from  8 go to 2 index and use +1 step which is not
#possible to do because 
# we are saving it to move in reverse  but not using reverse gare instead we are using 1st positive gear

In [ ]:
ls[-2:2:-1]  #because  now we are asking to go in reverse direction and we at the end did provided reverse direction

In [ ]:
#think of list as stairs
i=[0,1,2,3,4,5,6,7,8,9,10]

for x in i[::-1]:
    print('    '*(x),x)

In [77]:
i[0:5:-1]  
#here we are asking to move from smaller height :to higher hight :but u must moving down 
#this will give us empty

NameError: name 'i' is not defined

In [ ]:
i[5:0:-1]  #now we are saying move from 5th stair :  to 0th (ground) : but you must be moving down 
#this is valied so we got list

In [ ]:
i[2:9]

In [ ]:
family=['bati','wife','ami','dado','perdadi','lakardadi','kardadi']

In [ ]:
for x in range(6,-1,-1):
    print(' '*x,x,family[x])

In [ ]:
family[0:6:2]

In [ ]:
family[2:2] 
#think of it as you were standing at to so u bought 2nd postion value 
#but then you ended at 2nd so you don't talk about where you end up
#so thats why it is empty

In [ ]:
family[6:1:-2]
#family['where you are standing floor.no':'where you end up you(zip it)':'direction and jump']
#at 6 u were standing  : at 1 u endup :

In [ ]:
family[4:1:-2]

In [ ]:

family[6::-3]

In [ ]:
print('2nd floor')
print('_'*30)
for x in range(6,-1,-1):
    print(' '*x,x,family[x],-(7-x))

In [ ]:
family[-1:2:-1]  #now in reality it is asking us to go down 
#but he used -1 which is reference to 2nd floor and 
#end stair reference to ground flower in +

In [ ]:
cars=['honad','suzki','BMW','mercede','yamah','honad','suzki','BMW','mercede','yamah','honad','suzki','BMW','mercede','yamah']

In [ ]:
cars[5:-12:-1] 
cars[5:-8:-1] 
len(cars)-8  
#take out negative index from len of list this will give you index in positive then you can see 
#which direction to go 
# so we got 5:7 (len-8) -->so this mean we should move up frpm 5 to 7 stair and only talk about 5,6
#but direction was -1 so it will give []

In [ ]:
print('2nd floor')
print('_'*30)
for x in range(len(cars)-1,-1,-1):
    print(' '*x,x,cars[x],-(len(cars)-x))

In [ ]:
cars[-9:3:-1]
#len(cars)-9 --> 6  from 6 stair move 3 don't talk about 3  and direction is valied with steps
#index 6,5,4

In [ ]:
cars[-9:-3:-1]

In [ ]:
family[0].title()
#as family[0] is as string
#   'bati'.title()

In [ ]:
dir(list)

In [ ]:
family=['bati','wife','ami','dado','perdadi','lakardadi','kardadi']
print(family,len(family))

In [78]:
print('my mother told me that kardadi has just died ')
del family [-1]
#we had so much info we new her index postion
#so we deleted her

my mother told me that kardadi has just died

NameError: name 'family' is not defined

In [ ]:
family
print(family,len(family))

In [ ]:
family.pop('')

In [ ]:
family

In [80]:
x=['car','bike','ship','house','watch','house2','car2','led',]
house="""Feather mattress'
100 percent Egyptian cotton sheets
Music or iPod dock
Natural light
Dimmable bedside lamps
Flowers
Pillows—his rule of thumb: “the more, the better.”
Bathrobe and slippers
Room diffuser
Hairbrushes and combs
Bobby pins, headbands, and hair clips
Blow-dryer
Makeup
Makeup mirror—“Target has a Zadro brand for under $50, or you can go really elegant with the Chatham table mirror from Restoration Hardware for $125,” says Salon St. Louis owner Marie McMahon.
Chair or stool
Skin cleanser
Moisturizer with SPF for day
Overnight moisturizer—“We are confirmed fans of Dermalogica.”
Shampoo
Conditioner
Styling product
Body cleanser
Body lotion
Hand soap
Feminine hygiene products
Bubble bath or bath salts
Toilet paper
Cotton balls
Cotton swabs
Razors
Shaving cream
Towel warmer or towel hook hung above heat vent or radiator
Nail clippers
Tweezers
Manicure scissors
Shower cap
Shower caddy
Fluffy body and hand towels
Loofah or washcloths
Pretty container to store loofah or washcloths—“Use something vintage or the square glass vases that flowers come in.”
Fluffy rug
Aromatherapy candle near the tub
Hooks for hanging up makeup bags
Band-Aids
Neosporin
Aspirin or Tyleno
Cedar paneling throughout, cedar liners or cedar blocks for drawers
Quality, nonfluorescent lighting
Ottoman “for the center of the room.”
Mothballs for drawers
Wood skirt hangers, slacks hangers, and shirt hangers
Cedar suit hangers
Garment bags “for long-term storage or for delicate fabrics, like my white dinner jacket.”
Shoe trees
Shoe bags—“Ask your shoe salesperson for them.”
Plastic shoe-storage bins with casters
Drawer tray with inserts for jewelry and cuff links
Hand-held steam press
Iron and ironing board
Masking tape—“Wrap a piece around your hand and pat only the areas of your clothes that have lint on them.”   
Hanging belt-and-tie rack
Diamond drawer organizer for socksl""".split('\n')

### POP() and del work in same way both take index and take out index value from list 
#### but the main difference is that pop() allow us to catch that value
### where del make sure that we drop the catch 

del is lika a silent killer
where pop is do things to make a seen out of it <br>
main thing is that the both as for index

In [81]:
# catch_it_dont_loos_it=house.pop()
# catch_it_dont_loos_it

In [82]:
del house[-1]
#it did not even allowed us to catch it

In [83]:
house.append('praying rug')

In [84]:
house.index('praying rug')

61

In [85]:
house[61]

'praying rug'

In [86]:
house.append('praying rug')

In [87]:
house.index('praying rug')

61

In [88]:
house

["Feather mattress'",
 '100 percent Egyptian cotton sheets',
 'Music or iPod dock',
 'Natural light',
 'Dimmable bedside lamps',
 'Flowers',
 'Pillows—his rule of thumb: “the more, the better.”',
 'Bathrobe and slippers',
 'Room diffuser',
 'Hairbrushes and combs',
 'Bobby pins, headbands, and hair clips',
 'Blow-dryer',
 'Makeup',
 'Makeup mirror—“Target has a Zadro brand for under $50, or you can go really elegant with the Chatham table mirror from Restoration Hardware for $125,” says Salon St. Louis owner Marie McMahon.',
 'Chair or stool',
 'Skin cleanser',
 'Moisturizer with SPF for day',
 'Overnight moisturizer—“We are confirmed fans of Dermalogica.”',
 'Shampoo',
 'Conditioner',
 'Styling product',
 'Body cleanser',
 'Body lotion',
 'Hand soap',
 'Feminine hygiene products',
 'Bubble bath or bath salts',
 'Toilet paper',
 'Cotton balls',
 'Cotton swabs',
 'Razors',
 'Shaving cream',
 'Towel warmer or towel hook hung above heat vent or radiator',
 'Nail clippers',
 'Tweezers',
 'Manicure scissors',
 'Shower cap',
 'Shower caddy',
 'Fluffy body and hand towels',
 'Loofah or washcloths',
 'Pretty container to store loofah or washcloths—“Use something vintage or the square glass vases that flowers come in.”',
 'Fluffy rug',
 'Aromatherapy candle near the tub',
 'Hooks for hanging up makeup bags',
 'Band-Aids',
 'Neosporin',
 'Aspirin or Tyleno',
 'Cedar paneling throughout, cedar liners or cedar blocks for drawers',
 'Quality, nonfluorescent lighting',
 'Ottoman “for the center of the room.”',
 'Mothballs for drawers',
 'Wood skirt hangers, slacks hangers, and shirt hangers',
 'Cedar suit hangers',
 'Garment bags “for long-term storage or for delicate fabrics, like my white dinner jacket.”',
 'Shoe trees',
 'Shoe bags—“Ask your shoe salesperson for them.”',
 'Plastic shoe-storage bins with casters',
 'Drawer tray with inserts for jewelry and cuff links',
 'Hand-held steam press',
 'Iron and ironing board',
 'Masking tape—“Wrap a piece around your hand and pat only the areas of your clothes that have lint on them.”   ',
 'Hanging belt-and-tie rack',
 'praying rug',
 'praying rug']

In [89]:
house.remove('praying rug')

In [90]:
house.extend([2,'praying rug'])

In [91]:
house

["Feather mattress'",
 '100 percent Egyptian cotton sheets',
 'Music or iPod dock',
 'Natural light',
 'Dimmable bedside lamps',
 'Flowers',
 'Pillows—his rule of thumb: “the more, the better.”',
 'Bathrobe and slippers',
 'Room diffuser',
 'Hairbrushes and combs',
 'Bobby pins, headbands, and hair clips',
 'Blow-dryer',
 'Makeup',
 'Makeup mirror—“Target has a Zadro brand for under $50, or you can go really elegant with the Chatham table mirror from Restoration Hardware for $125,” says Salon St. Louis owner Marie McMahon.',
 'Chair or stool',
 'Skin cleanser',
 'Moisturizer with SPF for day',
 'Overnight moisturizer—“We are confirmed fans of Dermalogica.”',
 'Shampoo',
 'Conditioner',
 'Styling product',
 'Body cleanser',
 'Body lotion',
 'Hand soap',
 'Feminine hygiene products',
 'Bubble bath or bath salts',
 'Toilet paper',
 'Cotton balls',
 'Cotton swabs',
 'Razors',
 'Shaving cream',
 'Towel warmer or towel hook hung above heat vent or radiator',
 'Nail clippers',
 'Tweezers',
 'Manicure scissors',
 'Shower cap',
 'Shower caddy',
 'Fluffy body and hand towels',
 'Loofah or washcloths',
 'Pretty container to store loofah or washcloths—“Use something vintage or the square glass vases that flowers come in.”',
 'Fluffy rug',
 'Aromatherapy candle near the tub',
 'Hooks for hanging up makeup bags',
 'Band-Aids',
 'Neosporin',
 'Aspirin or Tyleno',
 'Cedar paneling throughout, cedar liners or cedar blocks for drawers',
 'Quality, nonfluorescent lighting',
 'Ottoman “for the center of the room.”',
 'Mothballs for drawers',
 'Wood skirt hangers, slacks hangers, and shirt hangers',
 'Cedar suit hangers',
 'Garment bags “for long-term storage or for delicate fabrics, like my white dinner jacket.”',
 'Shoe trees',
 'Shoe bags—“Ask your shoe salesperson for them.”',
 'Plastic shoe-storage bins with casters',
 'Drawer tray with inserts for jewelry and cuff links',
 'Hand-held steam press',
 'Iron and ironing board',
 'Masking tape—“Wrap a piece around your hand and pat only the areas of your clothes that have lint on them.”   ',
 'Hanging belt-and-tie rack',
 'praying rug',
 2,
 'praying rug']

In [92]:
house.remove('praying rug')

In [93]:
house[-5:] #this show us that remove() remove first countered item

['Iron and ironing board',
 'Masking tape—“Wrap a piece around your hand and pat only the areas of your clothes that have lint on them.”   ',
 'Hanging belt-and-tie rack',
 2,
 'praying rug']

In [94]:
house.remove(2)

In [95]:
house.remove('praying rug')

### so remove() also don't allow us to catch up value but it works on giving actual value not on index
this is good now we have pop(index) or del to use index to take out value<br>
or we can use remove(actual value) to remove without knowing index but it will not allow us to catch except pop option which only work on index

In [96]:
x=[1,3,4]
x.append({2.1,2.0,2.2})  
print(x,'\n')
#in append even if you give multiply values it will append them as single item 
#but benefit of append is that you can attain type of item like above
#append set and below you can see last item is set{2.0,2.1,2,2}

print(x[-1],type(x[-1]))
#see

[1, 3, 4, {2.1, 2.0, 2.2}]

{2.1, 2.0, 2.2} <class 'set'>

In [97]:
x.extend([{2.0},{2.1},{2.2}])
#to give multiply valeus in extend you have to give them under hasable data type and list is hasable so give in list
#extend has also benefit and it is one hand above append because 
#you can give multiply itmes yes multipy its in list  and it also keep there type but you need to give type in side it []
x

[1, 3, 4, {2.0, 2.1, 2.2}, {2.0}, {2.1}, {2.2}]

In [98]:
x

[1, 3, 4, {2.0, 2.1, 2.2}, {2.0}, {2.1}, {2.2}]

In [99]:
x

[1, 3, 4, {2.0, 2.1, 2.2}, {2.0}, {2.1}, {2.2}]

In [102]:
x.extend(['taim'])

In [103]:
x.extend([{'id':'001','age':20,'died':2019},[100,200,300,4000,4030]])

In [104]:
x

[1,
 3,
 4,
 {2.0, 2.1, 2.2},
 {2.0},
 {2.1},
 {2.2},
 'taim',
 {'id': '001', 'age': 20, 'died': 2019},
 [100, 200, 300, 4000, 4030],
 'taim',
 {'id': '001', 'age': 20, 'died': 2019},
 [100, 200, 300, 4000, 4030]]

In [106]:
x.insert(1,'i am on 1 index :) :P')

In [107]:
x

[1,
 'i am on 1 index :) :P',
 3,
 4,
 {2.0, 2.1, 2.2},
 {2.0},
 {2.1},
 {2.2},
 'taim',
 {'id': '001', 'age': 20, 'died': 2019},
 [100, 200, 300, 4000, 4030],
 'taim',
 {'id': '001', 'age': 20, 'died': 2019},
 [100, 200, 300, 4000, 4030]]

In [109]:
#.sort Method vs sorted() function

TypeError: insert() takes exactly 2 arguments (4 given)

In [111]:
x=[2,48,3,4,2,7,8,3,4,7,53,5,3,24,56,99,4]
x.sort()
x # sort method of list sorted it permenanetly

[2, 2, 3, 3, 3, 4, 4, 4, 5, 7, 7, 8, 24, 48, 53, 56, 99]

In [112]:
x=[2,48,3,4,2,7,8,3,4,7,53,5,3,24,56,99,4]
sorted(x)

[2, 2, 3, 3, 3, 4, 4, 4, 5, 7, 7, 8, 24, 48, 53, 56, 99]

In [114]:
x  #sorted()

[2, 48, 3, 4, 2, 7, 8, 3, 4, 7, 53, 5, 3, 24, 56, 99, 4]

In [119]:
x.sort(reverse=True)
x
#permenantly  reversed sort

[99, 56, 53, 48, 24, 8, 7, 7, 5, 4, 4, 4, 3, 3, 3, 2, 2]

In [122]:
x=[2,48,3,4,2,7,8,3,4,7,53,5,3,24,56,99,4]
#we can directly print list in reverse order
x.reverse()
x
#permantely sorted

[4, 99, 56, 24, 3, 5, 53, 7, 4, 3, 8, 7, 2, 4, 3, 48, 2]

In [123]:
# avoid index error when you give index that is out of range
x=['a','b','c','d']
len(x)

4

In [125]:
x[4]  #IndexError

IndexError: list index out of range

In [126]:
#Name Error1
#syntax Error2
#Index Error3
#Type Error4
#UnboundLocal Error5
#IndentationError6

In [149]:
d={1:'p',2:'s'}
[*d] #it give values of all keys ,must pack in list

[1, 2]

In [161]:
x=range(10,100)
x

range(10, 100)

In [168]:
list(range(0,101,10))  #same like stair example  #going up,dow, +direction steps

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [170]:
list(range(10,-1,-1)) #going down the stairs from 10 to 0 in negative direction of 1step

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [174]:
for x in range(10,101,10):
    print(x,end=' ')

10 20 30 40 50 60 70 80 90 100

In [178]:
nl=list(range(10,100,10))

In [187]:
[1,2]+[3,4] #onnly support +
[1,2]*3 #only support *

[1, 2, 1, 2, 1, 2]

In [195]:
#list comprehension
[x**2 for x in range(10,101,10)]

[100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100, 10000]

In [196]:
[x**2 for x in range(10,101,10)][-3:]

[6400, 8100, 10000]

In [200]:
{x**2 for x in range(10,101,10)}

{100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100, 10000}

## deep copy shallow copy 
shallow is like short cut mean it will create to names of same thing and both names will have  same memory memory location <br>
location which mean change in short cut will cause change in original <br>
deep copy give new memory location so if any change done on copy will not effect orginal

In [206]:
x=[1,2,3]
y=x
print('x: ',id(y),'\ny: ',id(x))
#see the have same memeory locations

x:  1940063703496
y:  1940063703496

In [207]:
x=[1,2,3]
y=x[:]
print('x: ',id(y),'\ny: ',id(x))
#see the don't have same memeory locations

x:  1940063728136
y:  1940063706440

In [209]:
y=x.copy()  #this .copy() method make deep copy()
print('x: ',id(y),'\ny: ',id(x))
#see the don't have same memeory locations
#this .copy() method make deep copy()

x:  1940063175176
y:  1940063706440

##  TUPLE

In [213]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [218]:
t= (2,3,4,4,4,4,5,6,7,'taim','arif')

In [219]:
t.count(4)

4

In [220]:
t.index('taim')

9

In [221]:
len(t)

11

In [223]:
t[5:]

(4, 5, 6, 7, 'taim', 'arif')

In [227]:
#can't add or delete but we can make a new variable
t=('wwe')

In [228]:
t= (2,3,4,4,4,4,5,6,7,'taim','arif')

In [234]:
[*t]

[2, 3, 4, 4, 4, 4, 5, 6, 7, 'taim', 'arif']

# IF statements

In [236]:
t= (2,3,4,4,4,4,5,6,7,'taim','arif')

In [244]:
print('yes it is in t') if 'taim' in t else print('Nop')
# 'run this part'  #if# 'this is true'                                 # else# 'run this part'
#line comprehension don't use coloumns

yes it is in t

In [246]:
print('class not in') if 'class' not in t  else print('init')

class not in

In [252]:
print('9  is present') if 9 in t else print('3 is present') if 3 in t else print('see it-->t :',t) 
#no elif in line comprehension

3 is present

In [253]:
x=[]

bool(x)
# bool give false if things are empty

False

In [255]:
bool(''),bool(' ')
#first one is false because it is empty string ,#second one is true because it contain space

(False, True)

In [256]:
if bool(x) == False:
    print('x list is empty :',x)

x list is empty : []

### empty list check wiht if statement

In [278]:
x =[]
if x:
    print(True)
else:
    print(False)

False

# Print

In [279]:
x=3
y=5
z=-3
print('these are the numbers i like the most\none: {},\ntwo: {},\nthree: {}'.format(x,y,z))

these are the numbers i like the most
one: 3,
two: 5,
three: -3

In [272]:
x=3333333333
y=5
z=-3
print('these are the numbers i like the most\none: {:,},\ntwo: {:.2f},\nthree: {}'.format(x,y,z))

these are the numbers i like the most
one: 3,333,333,333,
two: 5.00,
three: -3

###  empty string check with if statement

In [284]:
if '':
    print('string is not empty')
else:
    print('empty')

empty

# FOR IF--- statement together in line comprehenesion

it has two part <br>
1. for if part
2. action perform part

#### Exampel:

1. for x in alphabhat if x =='a' <br>


2. print(x.upper())

note no use of else<br>
##  2nd  1st  (sequence)

In [292]:
#2 for x in alphabat if x =='a'
#1 print(x.upper())

alphabat= ['c','d','a','f','b','g','x']
[print(x.upper()) for x in alphabat if x =='a']

A

[None]

# lambda

In [302]:
a=2
b=4
z=lambda a,b: a*b  #one line function
z(a,b)  #we can use it as we have assign it to variable and it is not object and we can move object any where and use it

8

In [303]:
z(3,10)

30

In [304]:
z(90,0.9)

81.0

## Dictionaries

In [307]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [65]:
d={
    'honda':{'civic':{0:{'price':3000000,
                        'condiction':'7/10',
                        'platform':'pakwheel',
                            },
                     },
            },
    'Toyota':{'corola':{0:{'price':2800000,
                            'condiction':'9/10',
                            'platform':'pakwheel',
                            },  
                        },
             },
    
        
    'Tesla':{'x model':{0:{'price':10000000,
                        'condiction':'5/10',
                        'platform':'pakwheel'},},
             'roster model':{0:{'price':20000000,
                             'condition':'9/10',
                             'platform':'pakwheel'},},},}

In [66]:
import pprint
pprint.pprint(d['Tesla']['roster model'][0])

{'condition': '9/10', 'platform': 'pakwheel', 'price': 20000000}

In [67]:
d['Tesla']['roster model'][1]={'condition':'9/10','platform':'buy must','price':18000000}

In [68]:
d['Tesla']['roster model']

{0: {'price': 20000000, 'condition': '9/10', 'platform': 'pakwheel'},
 1: {'condition': '9/10', 'platform': 'buy must', 'price': 18000000}}

In [69]:
x=d.keys()

In [70]:
del  d['Tesla']['roster model'][1]['platform']
# we deleted platform

In [71]:
d['Tesla']['roster model'][1]
# no platform init

{'condition': '9/10', 'price': 18000000}

In [89]:
d
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

In [101]:
for brand,models in d.items():
    print('\n',color.BOLD +'brand: '+color.END  + brand,
          
          '\033[94m models :\033[0m'+ '{}'.format(models),
          
          end='\n'+'_'*30,sep='\n**********\n')

**********
brand: honda
**********
 models :{'civic': {0: {'price': 3000000, 'condiction': '7/10', 'platform': 'pakwheel'}}}
______________________________

**********
brand: Toyota
**********
 models :{'corola': {0: {'price': 2800000, 'condiction': '9/10', 'platform': 'pakwheel'}}}
______________________________

**********
brand: Tesla
**********
 models :{'x model': {0: {'price': 10000000, 'condiction': '5/10', 'platform': 'pakwheel'}}, 'roster model': {0: {'price': 20000000, 'condition': '9/10', 'platform': 'pakwheel'}, 1: {'condition': '9/10', 'price': 18000000}}}
______________________________

# zip function pair making 
##### after that we have flexibility to either show it as list,dict,tuple pair

In [109]:
x=['a','b']
y=['ali','bilal']
dict(zip(x,y))

{'a': 'ali', 'b': 'bilal'}

In [110]:
tuple(zip(x,y))

(('a', 'ali'), ('b', 'bilal'))

In [111]:
list(zip(x,y))

[('a', 'ali'), ('b', 'bilal')]

#### un match loss

In [112]:
x=['a','b','c']
y=['ali','bilal']

list(zip(x,y))

[('a', 'ali'), ('b', 'bilal')]

In [113]:
tuple(zip(x,y))

(('a', 'ali'), ('b', 'bilal'))

In [114]:
dict(zip(x,y))

{'a': 'ali', 'b': 'bilal'}

# * args argument  and ** kwargs keyword arguments

In [151]:
d={'name':'Taimoor'}
f=(2,3,4)
g=[0,77,88,99]

print(*f)
print(*g)

2 3 4
0 77 88 99

In [154]:
def fund(**x):  #** mean put parameter = argument  #parameter become key : arugment become dictionary
    print(x)
    for y,z in x.items():  #just to show you that x is dictionary which you provide 
                        #1key=value ,2key=value,3key=value as kwargin function
            print(y,z)
        
        
fund(name='taimoor',age=27)  #this is only possible because of **

{'name': 'taimoor', 'age': 27}
name taimoor
age 27

In [153]:
#below one is to allow tuple
def funls(*x): #this take only arguments seperated by comma and * make them tuple
    print(x)
   
    for i in x: #just to show you that x is now tuple which you provided as arguments seperated by , coma
        print(i,end='-')

funls(3,4,5,6,7,8,8,9,9,9,9,9)

(3, 4, 5, 6, 7, 8, 8, 9, 9, 9, 9, 9)
3-4-5-6-7-8-8-9-9-9-9-9-

In [160]:
lug = {
'jen': 'python',
'sarah': 'c',
'edward': 'ruby',
'phil': 'python',
}

###  dict.clear()
permantly

In [164]:
lug.clear()
lug

{}

In [165]:
lug = {
'jen': 'python',
'sarah': 'c',
'edward': 'ruby',
'phil': 'python',
}

In [166]:
id(lug)

2397729764552

### dict.copy() ---is shallow ----     ::                                 where list.copy---- is deep ----

In [177]:
lug_copy=lug.copy()  # dictionary shallow copy 
lug_copy

{'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python'}

In [176]:
print('lug      :',id(lug))
print('lug_copy :',id(lug_copy))
print('_________________\n','dict.copy() create shallow copy')

lug      : 2397729764552
lug_copy : 2397729765848
_________________
 dict.copy() create shallow copy

In [179]:
x=[1,1,2]
y=x.copy()
print(id(x),id(y))   #but list is deep copy  hint: deep hint:list are eacy to create so they are deep copy

2397729990856 2397729695304

### dict.fromkeys(keys,value)
temporarly <br>
so always assign to some varaible
use only when you wan to create new dict and you any want keys in it and make it quick just by giving single list <br>
to give same value to all keys u can give in value (optional)<br>
otherwise it will give all keys same None value

In [219]:
newd={}
new_keys=['name','age','rollno','class','status']
newd.fromkeys(new_keys)

{'name': None, 'age': None, 'rollno': None, 'class': None, 'status': None}

In [220]:
newd.fromkeys(['Gender'])  #oops

{'Gender': None}

In [221]:
newd.fromkeys('0123456789')  #oops
#temporarly

{'0': None,
 '1': None,
 '2': None,
 '3': None,
 '4': None,
 '5': None,
 '6': None,
 '7': None,
 '8': None,
 '9': None}

In [222]:
newd.fromkeys(['Gender'])  #give it in list
#temporarly

{'Gender': None}

In [223]:
newd.fromkeys(['0123456789'])
#temporarly

{'0123456789': None}

In [224]:
newd.fromkeys(['urdu','arabic','englis'])  #give it list it will make key from all of list items
#temporarly

{'urdu': None, 'arabic': None, 'englis': None}

In [225]:
newd

{}

#### quick way to creat dictionary with same value

In [228]:

quick={}.fromkeys(['a','b','c'],[399,899,9343])
quick
# al keys got same list

{'a': [399, 899, 9343], 'b': [399, 899, 9343], 'c': [399, 899, 9343]}

In [216]:
dict(zip(['a','b','c'],[399,899,9343]))

{'a': 399, 'b': 899, 'c': 9343}

###  dict.get(key)   ---> gives value

The get() method returns a default value if the key is missing.<br>
However, if the key is not found when you use dict[key], KeyError exception is raised.

In [240]:
me={'name':'Taimoor','age':28}

me.get('name')

'Taimoor'

In [241]:
me.get('money',2000)

2000

In [242]:
# The get() method returns a default value if the key is missing.
me.get('live')

## dict.popitem()
randomly remove dict item good for creating quize/game random quest:answers

In [251]:
x={'q1':'easy','q2':'not so easy','q3':'too hard','q4':'out of course'}
x.popitem() #taks no arugment

('q4', 'out of course')

### dict.setdefault(key)
key ---- key to be searched in the dictionary<br>
default_value (optional) ---- key with a value default_value is inserted to the dictionary if key is not in the dictionary.<br>
If not provided, the default_value will be None

In [270]:
x={'q1':'easy','q2':'not so easy','q3':'too hard','q4':'out of course'}
x.setdefault('q1')  #takes argument as key of dictionary  and return its value just like .get()

'easy'

In [271]:
x

{'q1': 'easy', 'q2': 'not so easy', 'q3': 'too hard', 'q4': 'out of course'}

In [272]:
a_section = x.setdefault('q2')
a_section

'not so easy'

In [273]:
b_section = x.setdefault('q5')
b_section  # as key does not exist so nothing got catched
x

{'q1': 'easy',
 'q2': 'not so easy',
 'q3': 'too hard',
 'q4': 'out of course',
 'q5': None}

In [278]:
b_section = x.setdefault('q5','exaim practice')  #second arugment is value if value is not present dictionry will be updated
b_section
#as key does not exist 
x

{'q1': 'easy',
 'q2': 'not so easy',
 'q3': 'too hard',
 'q4': 'out of course',
 'q5': None}

## dict.pop(key,ifnot give this in return) Parameters
The pop() method takes two parameters:<br>
key - key which is to be searched for removal<br>
default - value which is to be returned when the key is not in the dictionary<br>

In [319]:
x={'honda':'civic','suzuki':'mehran'}

x.pop('corola','we are building this collection ') #corol key  was not there so we gave message 
                                    
    # pop got p at the end so it will protect your image u can giv nice message

'we are building this collection '

In [300]:
x

{'honda': 'civic', 'suzuki': 'mehran'}

In [301]:
x.pop('suzuki')  #it pop the value of suzuki and remove it from orginal and allowed us to catch value only
                 # where
                 #popitem() allow us to catch both key:value but we can't give any argument to popitme()

'mehran'

In [302]:
x

{'honda': 'civic'}

## dict.update()

The update() method takes either a dictionary or an iterable object of key/value pairs (generally tuples).
If update() is called without passing parameters, the dictionary remains unchanged.

They update() method updates the dictionary with elements from a dictionary object or an iterable object of key/value pairs.
It doesn't return any value (returns None).

In [305]:
x.update({'Tesla':'model x'})
x

{'honda': 'civic', 'Tesla': 'model x'}

In [318]:
x.update(suzuki='mehran')  #suzuki is given as variable not as string
x

{'honda': 'civic', 'Tesla': 'model x', 'suzuki': 'mehran'}

In [4]:
students ={
    'name':{'taimoor':
            {
                'percentage':'70%',
                'conduct':'good',
            },
            'ali':{'percentage':'80%',
                  'conduct':'good'}
        },
    
    
}

In [10]:
list(students['name'].keys())  #to get only keys inside students['name']

['taimoor', 'ali']

In [26]:
students['name'].keys()

dict_keys(['taimoor', 'ali'])

In [27]:
list(students['name']) #listing dictionary will get your keys

['taimoor', 'ali']

'd' Signed integer decimal.  
'i' Signed integer decimal.  
'o' Signed octal value. (1)
'u' Obsolete type – it is identical to 'd'. (7)
'x' Signed hexadecimal (lowercase). (2)
'X' Signed hexadecimal (uppercase). (2)
'e' Floating point exponential format (lowercase).  (3)
'E' Floating point exponential format (uppercase).  (3)
'f' Floating point decimal format.  (3)
'F' Floating point decimal format.  (3)
'g' Floating point format. Uses lowercase exponential format if exponent is less than -4 or not less than precision, decimal format otherwise.  (4)
'G' Floating point format. Uses uppercase exponential format if exponent is less than -4 or not less than precision, decimal format otherwise.  (4)
'c' Single character (accepts integer or single character string).   
'r' String (converts any Python object using repr()).   (5)
's' String (converts any Python object using str()).    (6)
'%' No argument is converted, results in a '%' character in the result.

In [127]:
students['name']['taimoor']['percentage']=78
perc=students['name']['taimoor']['percentage']
cgpa=students['name']['taimoor']['cpga']=3.245555
earn=students["name"]['taimoor']['earn']=1000

print('your son name : %s \npercentage : %i %s\ncgpa :%.2f\nearn : %d'%('Taimoor',perc,'%',cgpa,earn))



print('_'*30)
print('your son name : {} \npercentage : {:.2f} %\ncgpa :{:.2f}\nearn : {:,.2f}'.format('Taimoor',perc,cgpa,earn))



print('_'*30)
print('your son name :' + 'Taimoor' + '\npercentage : ' + str(perc)+' %'+'\ncgpa : '+str(round((cgpa),2)) + '\nearn : '+ str(earn))

your son name : Taimoor
percentage : 78 %
cgpa :3.25
earn : 1000
______________________________
your son name : Taimoor
percentage : 78.00 %
cgpa :3.25
earn : 1,000.00
______________________________
your son name :Taimoor
percentage : 78 %
cgpa : 3.25
earn : 1000

In [109]:
x={1:'a',2:'b',3:'c'}
list(x)

[1, 2, 3]

## input()

In [2]:
x=input('put value between ' + str(2) + ' to ' + str(10) + ': ')

put value between 2 to 10: 5

In [ ]:
x='are you human'
x+='\nare you pakistani'
x+='\nthen please give your name : '
name=input(x)
print('thank you .... {}'.format(name))

In [3]:
x='hi ,\ngood evening '
x+= '\nplease provide your age : ' 
age = int(input(x))

print('\noo so you are in your %d\'s'%(age))

hi ,
good evening
please provide your age : 40

oo so you are in your 40's

In [5]:
3 % 4 #it give reminder reminder came 3 because  3/4 because maximum 4 can get closer to 3 is 4*0=0 so reminder 3-0=3 
      #think of discret not as continutes yes we know in decimal it do get close but modulus does not work on float  multiple
    #its multiple list is [0,1,2,3,4,5..]  u can only use these numbers to multiply denominatior
    #and then see how close denomiantor get close to numerator then 
    #then take difference and value is reminder

3.0

In [7]:
7%3   #3 in denominator so 3 x 2 =6 this is the closest 3 can get to 7 then 
      #  7-6 =1

1

In [12]:
-7%3  # in this think of it as circle with 3 points connected where one of the points is reference 0
      # now as it is -7 you move back word on those points and count as -1,-2,-3,-4,-5,-6,-7 as so reach point -7 in reverse 
      # then from that -7 place you move to word zero reference and count to zero and 1,2,... and when you reach zero refernace
        #your counting will me reminder think of it as 7 days a weak when someone say to you -15 days what you do after -7 you again 
        #end up at same place monday,tu,wed,thu,fir,sat,sun,monday,tue

2

In [11]:
4%3

1

## while loop

In [15]:
do=None
while do!='q':
    print('doing '+str(do))
    print('doing '+str(do)) 
    print('doing '+str(do))
    print('done now ')
    
    do=input('tell me what to do \n to quit enter q : ')

doing None
doing None
doing None
done now
tell me what to do
 to quit enter q : a
doing a
doing a
doing a
done now
tell me what to do
 to quit enter q : w
doing w
doing w
doing w
done now
tell me what to do
 to quit enter q : r
doing r
doing r
doing r
done now
tell me what to do
 to quit enter q : y
doing y
doing y
doing y
done now
tell me what to do
 to quit enter q : y
doing y
doing y
doing y
done now
tell me what to do
 to quit enter q : o
doing o
doing o
doing o
done now
tell me what to do
 to quit enter q : p
doing p
doing p
doing p
done now
tell me what to do
 to quit enter q : d
doing d
doing d
doing d
done now
tell me what to do
 to quit enter q : q

In [1]:
12/4*2

6.0

In [2]:
12*4/2

24.0

In [3]:
3+2-1

4

In [4]:
3-2+1

2

In [6]:
'''Live Demo 
#!/usr/bin/python

a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

c = a & b;        # 12 = 0000 1100
print "Line 1 - Value of c is ", c

c = a | b;        # 61 = 0011 1101 
print "Line 2 - Value of c is ", c

c = a ^ b;        # 49 = 0011 0001
print "Line 3 - Value of c is ", c

c = ~a;           # -61 = 1100 0011
print "Line 4 - Value of c is ", c

c = a << 2;       # 240 = 1111 0000
print "Line 5 - Value of c is ", c

c = a >> 2;       # 15 = 0000 1111
print "Line 6 - Value of c is ", c
'''

'Live Demo \n#!/usr/bin/python\n\na = 60            # 60 = 0011 1100 \nb = 13            # 13 = 0000 1101 \nc = 0\n\nc = a & b;        # 12 = 0000 1100\nprint "Line 1 - Value of c is ", c\n\nc = a | b;        # 61 = 0011 1101 \nprint "Line 2 - Value of c is ", c\n\nc = a ^ b;        # 49 = 0011 0001\nprint "Line 3 - Value of c is ", c\n\nc = ~a;           # -61 = 1100 0011\nprint "Line 4 - Value of c is ", c\n\nc = a << 2;       # 240 = 1111 0000\nprint "Line 5 - Value of c is ", c\n\nc = a >> 2;       # 15 = 0000 1111\nprint "Line 6 - Value of c is ", c\n'

In [9]:
b=[1,2,3,4]
d=[1,2,3,4]
for a in b:
    print('--')
    for c in d:
        if c == 3:
            print(a,c)
            print("ok")
            break

--
1 3
ok
--
2 3
ok
--
3 3
ok
--
4 3
ok