https://ghost.org/blog/markdown/


### EXCEPTIONS
(abnormla behaviour)

# MODUL AND PACAKES

a folder contain all python files.
so we call folder as package.
and files in that folder/package are called module.

for example csv package have open,close, etc module
package maturity 

panda is also mature package 
tensorflow is also a package 

we can also create our own packages
we can use packages which are already created by downloading

In [1]:
def x():return 5

x()

5

In [4]:
import numpy as np
import random

In [43]:
slab3_4_abs_price=np.arange(553,738,0.185,dtype=float) #starting, ending, gap_btw_two_values

In [47]:
slab3_4_relative_price=np.arange(553-553,738-553,0.185,dtype=float) #starting, ending, gap_btw_two_values

In [121]:
price_in_slab=round(4716.80/8.240,3)
price_in_slab

572.427

In [122]:
print(slab3_4_abs_price.searchsorted(price_in_slab),end='\n-------\n')
print(slab3_4_abs_price[106])
slab3_4_abs_price[106]-553

106
-------
572.6099999999942

19.609999999994216

In [123]:
np.arange(2,3,0.001)[106]       #slab3_4_relative_price[106]

2.1059999999999883

In [124]:
np.arange(553,738,185/84,dtype=float).searchsorted(round(4716.80/8.240,3))#starting, ending, gap_btw_two_values
np.arange(553,738,185/84,dtype=float)[9]

572.8214285714287

In [125]:
np.arange(2,3,1/83.804)[19]

2.226719488329912

In [126]:
import pandas as pd

In [165]:
no=196
df=pd.DataFrame({'price':np.arange(553,738,185/no,dtype=float),'unit':np.arange(2,3,1/no)})
df
# df.iloc[20].tolist()[1]

ValueError: arrays must all be same length

In [179]:
for no in range(186,1000,1):
#     print(no)
    try:
        df=pd.DataFrame({'price':np.arange(553,738,185/no,dtype=float),'unit':np.arange(2,3,1/no)})
        if df.iloc[20].tolist()[0] in list(range(570,573)):
            if  df.iloc[20].tolist()[1] in list(range(2.20,2.25)):
                print('-->',no)
                break
    except ValueError as e:
        continue

In [294]:
def data_create(current=0,previous=0,ls=[0]):
    import math 
    for taken in ls: 
#         current=int() #7497931
        differ=current-previous
#         print('differ ',differ)
        hm3=round(((differ*1.0341)/100000),3)
        slab_previous_next=math.modf(hm3)
        print('hm3 total   ',hm3)
        if hm3 >2.0 and hm3 <=3.0:
            price_1st = 553
            price_2nd =738
        if hm3 >1.0 and hm3 <=2.0:
            price_1st=300
            price_2nd=553
        if hm3 >0.5 and hm3<1.0:
            price_1st=121
            price_2nd=300
            slab_previous_next=(hm3-0.5,0.5)

        if hm3 <0.5:
            price_1st =0
            price_2nd =121
            
        hm3_2nd=slab_previous_next[0]  #round((hm3-2.0),3)
        hm3_1st=slab_previous_next[1]
            
        print('hm3 2nd ',hm3_2nd)
        print('hm3 1st ',hm3_1st)
        print('-----------------')
            
        mmbtu_2nd=round(((hm3_2nd*1039)/281.7385),3)
        mmbtu_1st=round(((hm3_1st*1039)/281.7385),3)

            
        print('mmbtu 2nd  ',mmbtu_2nd)
        print('mmbut 1st',mmbtu_1st)
        print('-----------------')

            
        charges_2nd=round((mmbtu_2nd*price_2nd),2)
        charges_1st = round(mmbtu_1st*price_1st,3)
            
        print('charges 2nd',charges_2nd)
        print('charges 1st',charges_1st)
        print('-----------------')
            
            
        print('gas charges',charges_1st+charges_2nd)
        if hm3 == 4.000:              
            break
7497931-7281860
#7378560----7571959  this is range of 3 to 4 slab which is 2.00---3.00 unit 
# -----------------------------------------------------------------

#00000000-00048349  this 0.0-0.5    [slab1]  both included reading-->48349
#00048350-00096699  this 0.5-1.0    [slab2]  both included reading
#00096700-00193399  this 1.0-2.0    [slab3]  both included reading-->96699
#00193400-00290098  this 2.0-3.0    [slab4]
#00290099-00386798  this 3.0-4.0    [slab5]
#00386799-          this 5.0-       [slab6]
#similarly

#0000000-00193400  this  is range of 4 to 5 slab which is 3.00--4.00 unit
# 290099+96699

216071

In [295]:
data_create(current=7497931,previous=7281860)

hm3 total    2.234
hm3 2nd  0.23399999999999999
hm3 1st  2.0
-----------------
mmbtu 2nd   0.863
mmbut 1st 7.376
-----------------
charges 2nd 636.89
charges 1st 4078.928
-----------------
gas charges 4715.818

In [296]:
data_create(current=118466,previous=88180)

hm3 total    0.313
hm3 2nd  0.313
hm3 1st  0.0
-----------------
mmbtu 2nd   1.154
mmbut 1st 0.0
-----------------
charges 2nd 139.63
charges 1st 0.0
-----------------
gas charges 139.63

In [297]:
data_create(current=7281860,previous=7080597)

hm3 total    2.081
hm3 2nd  0.08099999999999996
hm3 1st  2.0
-----------------
mmbtu 2nd   0.299
mmbut 1st 7.376
-----------------
charges 2nd 220.66
charges 1st 4078.928
-----------------
gas charges 4299.588

In [298]:
data_create(current=7080597,previous=6950000)

hm3 total    1.351
hm3 2nd  0.351
hm3 1st  1.0
-----------------
mmbtu 2nd   1.294
mmbut 1st 3.688
-----------------
charges 2nd 715.58
charges 1st 1106.4
-----------------
gas charges 1821.98

In [299]:
data_create(current=6950000,previous=6875000)

hm3 total    0.776
hm3 2nd  0.276
hm3 1st  0.5
-----------------
mmbtu 2nd   1.018
mmbut 1st 1.844
-----------------
charges 2nd 305.4
charges 1st 223.124
-----------------
gas charges 528.524

In [300]:
data_create(current=6875000,previous=6790000)

hm3 total    0.879
hm3 2nd  0.379
hm3 1st  0.5
-----------------
mmbtu 2nd   1.398
mmbut 1st 1.844
-----------------
charges 2nd 419.4
charges 1st 223.124
-----------------
gas charges 642.524

In [274]:
# current=int() #7497931
# differ=193399
# #print('differ ',differ)
# hm3=round(((differ*1.0341)/100000),3)
# print('hm3    ',hm3)
# mmbtu=round(((hm3*1039)/281.7385),3)
# print('mmbtu  ',mmbtu)
# charges1=round((mmbtu*553),2)
# print('charges',charges1)

In [275]:
# mmbtu_above_2p00=round(8.240-7.376,3)
# mmbtu_above_2p00

In [276]:
# charges2=mmbtu_above_2p00*738
# charges2

In [277]:
# charges1+charges2