# Arithematic operators

In [1]:
+ adding 
- minues
* multiply
/ divide give float answer
// floor division give string answer
** power
% moduls

SyntaxError: invalid syntax (<ipython-input-1-4ceccdf2d77c>, line 5)

##addition

In [2]:
5.0+5.0 #float

10.0

In [3]:
'i'+'am' #string

'iam'

In [4]:
[1,2]+[3,4] #list

[1, 2, 3, 4]

In [5]:
(1,2,)+(3,4) #tuple

(1, 2, 3, 4)

In [6]:
{1,2}+{3,4}  #set

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [7]:
{1:'a'} +{2:'b'} #dictinoary

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [8]:
#subtration
5-5 #integer

0

In [9]:
't'-'t' #string

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [10]:
{3,4,8}-{3,7,6}

{4, 8}

In [11]:
[1,2]-[2,3]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [12]:
[1,2]-[2]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [13]:
#muliply
'A'*3

'AAA'

In [14]:
3*'A'

'AAA'

In [15]:
[1,2]*3

[1, 2, 1, 2, 1, 2]

In [16]:
[1,2]*'a'

TypeError: can't multiply sequence by non-int of type 'str'

In [17]:
{1,2}*3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [18]:
{1,2}*'a'

TypeError: can't multiply sequence by non-int of type 'set'

In [19]:
(1,2)*3 #tuple * integer

(1, 2, 1, 2, 1, 2)

In [21]:
('a','b')*3 #tuple * string

('a', 1, 'a', 1, 'a', 1)

In [22]:
{1:'a'}*2 #dictionary

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [23]:
2*{1:1} #dictionary

TypeError: unsupported operand type(s) for *: 'int' and 'dict'

In [24]:
#power **
2**3

8

In [25]:
'a'**3

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [27]:
3**'a'

TypeError: unsupported operand type(s) for ** or pow(): 'int' and 'str'

In [28]:
[1,2]**2

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [29]:
2**[1,2]

TypeError: unsupported operand type(s) for ** or pow(): 'int' and 'list'

In [30]:
{1,2}**2

TypeError: unsupported operand type(s) for ** or pow(): 'set' and 'int'

In [31]:
#divsion / foat divison
11/3

3.6666666666666665

In [32]:
#division // floor division 
11//3

3

In [33]:
#moduls %----it is  reminder
2%2

0

In [34]:
10%3

1

In [35]:
10%7

3

In [36]:
11%3

2

In [37]:
3%11

3

In [38]:
18%5

3

In [39]:
5%18

5

In [41]:
(5/18)*5

1.3888888888888888

# Comparisoin relation) operators 
##== equal
##> greater than
##< less than
##>= greater then equal
##<= less then equal
##!= not equal
##<> not equal

In [42]:
"Qasim"=='asim'

False

In [45]:
2==2.0==2.0

True

In [46]:
a=2
b=2
a==b

True

In [47]:
2=='2'

False

In [48]:
[1]==[1]

True

In [54]:
[2,0]>[2,1]

False

In [55]:
[2,0]>[2,-1]  #it add all integer values of list and then combare its sum with other list
#2+0 >2-1
#   2>1

True

In [56]:
"B">"A" #ascii

True

In [57]:
'B'>'A'

True

In [59]:
ord('B')

65

In [61]:
ord('A')

122

In [ ]:
# character-->code no
#chr()-->ord()
#  A=65 --> Z=90
#  a=97  -->z=122
#  '0'=48  ---> '9'=57

In [62]:
2<=3

True

In [63]:
'qasim'!='Qasim'

True

In [64]:
-1%6

5

In [69]:
-2%6

4

In [70]:
-3%6

3

In [71]:
-5%6

1

In [72]:
1%6

1

In [74]:
{1,2}>{1,0} #comparison operation on list tuple set

False

In [75]:
{1:1}>{0,0} #not on dictionary

TypeError: '>' not supported between instances of 'dict' and 'set'

In [82]:
# = assign
a = 1
a =8
a

8

In [81]:
a=1
a+=2
a+=3
a+=4
a

10

In [83]:
a=100
a=-2
a-=2
a-=4
a

-8

In [84]:
a=1
a*=2
a*=3
a*=4
a

24

In [86]:
a=[1]
a*=2
a

[1, 1]

In [90]:
a=[2,3]
a*=4
a

[2, 3, 2, 3, 2, 3, 2, 3]

In [95]:
a=[2,3,4]
a-=2

TypeError: unsupported operand type(s) for -=: 'list' and 'int'

In [97]:
a=[2,3,4]
a-=[1,1,1]

TypeError: unsupported operand type(s) for -=: 'list' and 'list'

In [99]:
a=[2]
a+=[3]
a

[2, 3]

In [100]:
a =5
a%=5
a

0

In [104]:
a='A'
a*=2
a

'AA'

In [106]:
a='a'
a+='b'
a+='c'
a

'abc'

In [107]:
a='a'
a*='b'
a

TypeError: can't multiply sequence by non-int of type 'str'

# Logical Operators

In [109]:
#two or more than two logic to compare
# and = &     u can use both
# or  = |     u can use both
# !=  = <>   u can use both

2 and 3

2

In [110]:
2 and 3

3

In [111]:
-2 and -3

-3

In [112]:
-3 and -2

-2

In [118]:
'a'=='a' & 'b'=='b' & 'c'=='c'

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [119]:
('a'=='a') & ('b'=='b' )&('c'=='c')

True

In [120]:
'a'=='a' and 'b'=='b' and 'c'=='c'

True

In [122]:
True or True or False or True or True

True

In [123]:
True | True | False |True | True   #if any of the is true  will give true

True

In [128]:
False | False | False |False | True   #if any of these one is true  will give true

False

In [129]:
False | False | False |False | False  #if any of the is true  will give true

False

In [125]:
False and False or True and True

True

In [139]:
name=input('enter name :')
password=input('password :')

(name=="zain" or name=='taimoor' or name=='shoaib') and (password=='123')

enter name :taimoor
password :123

True

# BIT-wise operators

In [140]:
not(False)

True

In [142]:
bin(61)

'0b111101'

In [143]:
hex(61)

'0x3d'

In [144]:
oct(61)

'0o75'

In [146]:
bin(0o75)

'0b111101'

In [147]:
int(0b111101)

61

#8, 7, 6, 5, 4, 3, 2, 1,0      power
#2, 2, 2, 2, 2, 2, 2, 2,2   2**
#========================   equal to 
#256,128,64,32,16,8,4,2,1    this


#example

#picking from right side
#10011

'''
Right
1     1
0
0
1     2
1     16
total      19
'''

In [153]:
int(10011)

10011

In [154]:
ord("A") & ord("B")

64

In [158]:
int(0b10101)

21

In [159]:
29 | 28 #operation will be perform bitwise

29

11101 ==29

29<<2 left shit
1110100 ==116

29>>2 right shift
0011101

11001 =25

25<<2
1100100 =100

25>>2
110

In [160]:
int(0b11001)

25

In [161]:
25<<2

100

In [162]:
bin(100)

'0b1100100'

In [163]:
25>>2

6

In [164]:
bin(6)

'0b110'

# Membership operator

In [6]:
name=['ali','taimoor','zain','aslam']
for n in name:
    if n=='ali':
      return True

SyntaxError: 'return' outside function (<ipython-input-6-2721220956a5>, line 4)

In [1]:
#inoperator
name=['ali','taimoor','zain','aslam']
'ali' in name

True

In [2]:
'arif' not in name

True

In [ ]:
x=input()

if 'pakistain' in x:
    print('yes')

In [ ]:
x=input()

if 'pakistain' in x:
    print('yes')

#control p
if else then

True_bloc if logic else False_bloc      #comprehensive style

In [1]:
'pakistan' if True else 'ZindaBad'

'pakistan'

In [2]:
'pakistan' if False else 'ZindaBad'

'ZindaBad'

retur true if this logic is true else run this block

In [4]:
user=input('enter name please :')
password=input('enter passowrd :')
x=['taimoor','ali','aslam']
dic={'taimoor':123,ali:123,'aslam':123}
if user in x and password in dic[x]:
     print('yes')

enter name please :ali
enter passowrd :123

NameError: name 'ali' is not defined

In [5]:
user=input('enter name please :')
password=input('enter passowrd :')
x=['taimoor','ali','aslam']
dic={'taimoor':123,'ali':123,'aslam':123}
if user in x and password in dic[x]:
     print('yes')

enter name please :taimoor
enter passowrd :123

NameError: name 'ali' is not defined

In [ ]:
user=input('enter name please :')
password=input('enter passowrd :')
x=['taimoor','ali','aslam']
dic={'taimoor':123,'ali':123,'aslam':123}
for search in x:
 if user in search and password in dic[x]:
     print('yes')

In [ ]:
#luser=input('enter name please :')
password=input('enter passowrd :')
x=['taimoor','ali','aslam']
dic={'taimoor':123,'ali':123,'aslam':123}
for search in x:
 if user in search and password in dic[x]:
     print('yes')ist attributes and matirxs read for next class

In [ ]:
user=input('enter name please :')
password=input('enter passowrd :')
x=['taimoor','ali','aslam']
dic={'taimoor':123,'ali':123,'aslam':123}
for search in x:
 if user in search and password in dic[x]:
     print('yes')